# SHARK ATTACK CLEANING DATE

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df=pd.read_csv("data/attacks.csv", sep=',',encoding='ISO-8859-1')

In [3]:
pd.set_option('display.max_rows', 10)
# Dica do GUI --- como mostrar numero máximo de linhas do dataframe

In [4]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(25723, 24)

In [6]:
df.dtypes

Case Number        object
Date               object
Year              float64
Type               object
Country            object
                   ...
Case Number.1      object
Case Number.2      object
original order    float64
Unnamed: 22        object
Unnamed: 23        object
Length: 24, dtype: object

In [7]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

# DROP - Excluindo colunas irrelevantes ou redundantes

In [8]:
#testando valores nulos
df['Unnamed: 22'].isnull().value_counts()

True     25722
False        1
Name: Unnamed: 22, dtype: int64

In [9]:
df.isnull().sum()

Case Number       17021
Date              19421
Year              19423
Type              19425
Country           19471
                  ...
Case Number.1     19421
Case Number.2     19421
original order    19414
Unnamed: 22       25722
Unnamed: 23       25721
Length: 24, dtype: int64

In [10]:
#droppando colunas desnecessárias
df.drop(['Investigator or Source', 'pdf', 'href formula', 'href','Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22','Unnamed: 23', 'Case Number'],axis=1,inplace=True)

In [11]:
# GUI
#dfnovo = df[['year','date' ... ]]

In [12]:
# GUI
#df[['Year','Date']]

# Novo DataFrame - removido as colunas:

    'Investigator or Source', 'pdf', 'href formula', 'href','Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22','Unnamed: 23', 'Case Number'

In [13]:
df.head(3)

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN

In [14]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species '],
      dtype='object')

In [15]:
#padronizando nomes das colunas em letras minúsculas e sem espaços
colnames = []
for col in df.columns:
    colnames.append(col.lower())

In [16]:
df.columns = [col.lower().replace(' ','') for col in df.columns]

In [17]:
#alterando de SEX para GENDER
df.rename(columns = {'sex':'gender','fatal(y/n)':'fatality'}, inplace = True)
#df.rename(columns = {'fatal(y/n)':'fatality'}, inplace = True)

# Removendo as linhas em que todas as colunas são nulas --- NaN

In [18]:
#removendo as linhas em que todas as colunas são nulas --- NaN
df.dropna(how='all', inplace=True)

In [19]:
df.shape

(6302, 14)

In [20]:
faltantes = (df.isnull().sum() / (len(df['date'])))*100
print(faltantes)

date         0.000000
year         0.031736
type         0.063472
country      0.793399
area         7.219930
              ...
age         44.922247
injury       0.444303
fatality     8.552840
time        53.221200
species     45.033323
Length: 14, dtype: float64

# Verificando valores de cada coluna

In [21]:
#100% dos casos possuem datas
df['date'].isnull().value_counts()

False    6302
Name: date, dtype: int64

In [22]:
#não há informação de ano para 2 casos
df['year'].isnull().value_counts()

False    6300
True        2
Name: year, dtype: int64

In [23]:
#não há informação de tipo para 4 casos
df['type'].isnull().value_counts()

False    6298
True        4
Name: type, dtype: int64

In [24]:
#não há informação de país para 50 casos
df['country'].isnull().value_counts()

False    6252
True       50
Name: country, dtype: int64

In [25]:
#não há informação de area para 455 casos
df['area'].isnull().value_counts()

False    5847
True      455
Name: area, dtype: int64

In [26]:
#não há informação de localização para 540 casos
df['location'].isnull().value_counts()

False    5762
True      540
Name: location, dtype: int64

In [27]:
#não há informação de atividade para 544 casos
df['activity'].isnull().value_counts()

False    5758
True      544
Name: activity, dtype: int64

In [28]:
#não há informação de nome pessoa para 210 casos
df['name'].isnull().value_counts()

False    6092
True      210
Name: name, dtype: int64

In [29]:
#não há informação de gênero para 565 casos
df['gender'].isnull().value_counts()

False    5737
True      565
Name: gender, dtype: int64

In [30]:
#não há informação de idade para 2831 casos
df['age'].isnull().value_counts()

False    3471
True     2831
Name: age, dtype: int64

In [31]:
#não há informação de dano para 28 casos
df['injury'].isnull().value_counts()

False    6274
True       28
Name: injury, dtype: int64

In [32]:
#não há informação sobre fatalidade para 539 casos
df['fatality'].isnull().value_counts()

False    5763
True      539
Name: fatality, dtype: int64

In [33]:
#não há informação de hora para 2948 casos
df['time'].isnull().value_counts()

True     3354
False    2948
Name: time, dtype: int64

In [34]:
#não há informação de espécie do tubarão para 2838 casos
df['species'].isnull().value_counts()

False    3464
True     2838
Name: species, dtype: int64

In [35]:
df['date'].value_counts()

1957                    11
1942                     9
1956                     8
1950                     7
1958                     7
                        ..
Reported 29-Nov-1889     1
14-Nov-1900              1
04-Oct-1997              1
27-Nov-2012              1
Reported 12-Nov-2010     1
Name: date, Length: 5433, dtype: int64

In [36]:
df['year'].value_counts()

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
         ...
1801.0      1
1638.0      1
1834.0      1
1723.0      1
1786.0      1
Name: year, Length: 249, dtype: int64

In [37]:
df['type'].value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: type, dtype: int64

In [38]:
df['country'].value_counts()

USA                             2229
AUSTRALIA                       1338
SOUTH AFRICA                     579
PAPUA NEW GUINEA                 134
NEW ZEALAND                      128
                                ...
ASIA?                              1
TASMAN SEA                         1
ALGERIA                            1
PALESTINIAN TERRITORIES            1
EQUATORIAL GUINEA / CAMEROON       1
Name: country, Length: 212, dtype: int64

In [39]:
df['area'].value_counts()

Florida                              1037
New South Wales                       486
Queensland                            311
Hawaii                                298
California                            290
                                     ...
Oslo Fjord                              1
Off Green Island                        1
Sofala Province                         1
Enroute from Suez to Aden (Yemen)       1
St. Mary's Parish                       1
Name: area, Length: 825, dtype: int64

In [40]:
df['location'].value_counts()

New Smyrna Beach, Volusia County                163
Daytona Beach, Volusia County                    30
Ponce Inlet, Volusia County                      20
Melbourne Beach, Brevard County                  18
Myrtle Beach, Horry County                       17
                                               ...
Papaikou plantation                               1
Taverniier, Monroe County                         1
Clarkes Beach, Byron Bay                          1
Salter Path, Atlantic Beach, Carteret County      1
Kane'ohe Bay, O'ahu                               1
Name: location, Length: 4108, dtype: int64

In [41]:
df['activity'].value_counts()

Surfing                                          971
Swimming                                         869
Fishing                                          431
Spearfishing                                     333
Bathing                                          162
                                                ...
Fishing, caught a 15' shark & took it onboard      1
Swimming to anchored boat                          1
Bringing hooked, harpooned shark onboard boat      1
Washing clothes                                    1
Spearfishing, but standing in the water            1
Name: activity, Length: 1532, dtype: int64

In [42]:
df['gender'].value_counts()

M      5094
F       637
N         2
M         2
lli       1
.         1
Name: gender, dtype: int64

In [43]:
df['age'].value_counts()

17          154
18          150
19          142
20          141
15          139
           ...
X             1
25 to 35      1
18 or 20      1
21 & ?        1
Elderly       1
Name: age, Length: 157, dtype: int64

In [44]:
df['injury'].value_counts()

FATAL                                                                                           802
Survived                                                                                         97
Foot bitten                                                                                      87
No injury                                                                                        82
Leg bitten                                                                                       72
                                                                                               ...
Leg bitten by shark that had been shot in the head by another diver PROVOKED INCIDENT             1
Speared shark bit diver's right knee, and lacerated right thigh & buttocks PROVOKED INCIDENT      1
Laceration to lower leg   PROVOKED INCIDENT                                                       1
3 cm laceration to shoulder                                                                       1
Boat capsized in squall. 2 bodies scavenged  by sharks                                            1
Name: injury, Length: 3737, dtype: int64

In [45]:
df['fatality'].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
y             1
M             1
2017          1
N             1
Name: fatality, dtype: int64

In [46]:
df['time'].value_counts()

Afternoon       187
11h00           128
Morning         121
12h00           109
15h00           108
               ...
01h50             1
09h00 -10h00      1
09h20             1
10h28             1
>12h00            1
Name: time, Length: 366, dtype: int64

In [47]:
df['species'].value_counts()

White shark                                           163
Shark involvement prior to death was not confirmed    105
Invalid                                               102
Shark involvement not confirmed                        88
Tiger shark                                            73
                                                     ...
15'                                                     1
3.7m  to 4.2 m white shark                              1
Oceanic whitetip shark'                                 1
White shark, 4 to 5 m                                   1
1.8 m [6'] dogfish                                      1
Name: species, Length: 1549, dtype: int64

# Atribuindo valores para nulos em cada coluna

In [48]:
#teste 1: todas as colunas possuem valores nulos
df.isnull().any()

date        False
year         True
type         True
country      True
area         True
            ...
age          True
injury       True
fatality     True
time         True
species      True
Length: 14, dtype: bool

In [49]:
#teste 1: todas as colunas possuem valores em branco
df.notnull().all()

date         True
year        False
type        False
country     False
area        False
            ...
age         False
injury      False
fatality    False
time        False
species     False
Length: 14, dtype: bool

In [50]:
#Atribuindo string 'UNKNOWN' para todas as células sem valores
df['date'].fillna('Unknown', inplace = True)
df['year'].fillna('Unknown', inplace = True)
df['type'].fillna('Unknown', inplace = True)
df['country'].fillna('Unknown', inplace = True)
df['area'].fillna('Unknown', inplace = True)
df['location'].fillna('Unknown', inplace = True)
df['activity'].fillna('Unknown', inplace = True)
df['name'].fillna('Unknown', inplace = True)
df['gender'].fillna('Unknown', inplace = True)
df['age'].fillna('Unknown', inplace = True)
df['injury'].fillna('Unknown', inplace = True)
df['fatality'].fillna('Unknown', inplace = True)
df['time'].fillna('Unknown', inplace = True)
df['species'].fillna('Unknown', inplace = True)

# Tratando dados individualmente em cada coluna

   ## COLUNA GENDER

In [51]:
df.gender.unique()

array(['F', 'M', 'Unknown', 'M ', 'lli', 'N', '.'], dtype=object)

In [52]:
df['gender'].replace(['lli','N', '.'], 'Unknown', inplace = True)
df['gender'].replace(['M '], 'M', inplace = True)

In [53]:
df.gender.unique()

array(['F', 'M', 'Unknown'], dtype=object)

## COLUNA FATALITY

In [54]:
df.fatality.unique()

array(['N', 'Y', 'Unknown', 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [55]:
df['fatality'].replace(['M',' N', 'N ','N'], 'NO', inplace = True)
df['fatality'].replace(['2017','UNKNOWN'], 'Unknown', inplace = True)
df['fatality'].replace(['y', 'Y'], 'YES', inplace = True)

In [56]:
df.fatality.unique()

array(['NO', 'YES', 'Unknown'], dtype=object)

## COLUNA TYPE

In [57]:
df['type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'Unknown', 'Boat', 'Boatomg'], dtype=object)

In [58]:
df['type'].replace(['Boat','Boatomg'], 'Boating', inplace = True)
df['type'].replace(['Invalid','Questionable'], 'Unknown', inplace = True)

In [59]:
df['type'].unique()

array(['Boating', 'Unprovoked', 'Unknown', 'Provoked', 'Sea Disaster'],
      dtype=object)

# REMOVENDO LINHAS DUPLICADAS

In [60]:
df.loc[df.duplicated(keep=False), :]

,date,year,type,country,area,location,activity,name,gender,age,injury,fatality,time,species
4687,Fall 1943,1943,Unprovoked,USA,Hawaii,"Midway Island, Northwestern Hawaiian Islands",Spearfishing,2 males,M,Unknown,Calf nipped in each case,NO,Unknown,"""small sharks"""
4688,Fall 1943,1943,Unprovoked,USA,Hawaii,"Midway Island, Northwestern Hawaiian Islands",Spearfishing,2 males,M,Unknown,Calf nipped in each case,NO,Unknown,"""small sharks"""
5708,1890,1890,Unprovoked,INDIA,Tamil Nadu,Tuticorin,Diving,a pearl diver,M,Unknown,No details,Unknown,Unknown,Unknown
5709,1890,1890,Unprovoked,INDIA,Tamil Nadu,Tuticorin,Diving,a pearl diver,M,Unknown,No details,Unknown,Unknown,Unknown

In [61]:
# removidas apenas estas duas linhas, antes de executar o DROP em 'name'
df.drop([4688, 5709],inplace=True)

In [62]:
df.shape

(6300, 14)


# CRIANDO NOVA COLUNA PARA ATIVIDADE (usando principal palavra chave)

## Dicas do GUI

usar REGEX 

lista_atividades = list(df['activity'].unique())

df['activity'].value_counts().head(10)

def diminuirletra(row):
    try:
        return row.lower()
    except:
        return row
        
df['activities'] = df['activity'].apply(diminuirletra)

In [63]:
main_activity = ['sailing','crabbing','boating','splashing','spearing fish','playing','jumping','touching a shark','tagging sharks','teasing a shark','shark watching','cleaning fish','measuring sharks','sea disaster','feeding sharks','paddling','swimming','fishing','bathing','wading','diving','standing','snorkeling','boarding','kayaking','overboard','treading water','windsurfing','walking','floating','canoeing','surf','rowing']

In [64]:
'|'.join(main_activity)

'sailing|crabbing|boating|splashing|spearing fish|playing|jumping|touching a shark|tagging sharks|teasing a shark|shark watching|cleaning fish|measuring sharks|sea disaster|feeding sharks|paddling|swimming|fishing|bathing|wading|diving|standing|snorkeling|boarding|kayaking|overboard|treading water|windsurfing|walking|floating|canoeing|surf|rowing'

In [65]:
def search_activity(row,atividades):
    listactivity = '|'.join(atividades)
    
    try:
        return re.findall(listactivity, row,flags=re.IGNORECASE)[0-1].lower()
    except:
        return 'others'

In [66]:
df['activities'] = df['activity'].apply(search_activity,atividades=main_activity)

## Dicas do GUI --- para visualizar o df com filtro de um valor e mostrando duas colunas

mask=df['activities']=='others'

df.loc[mask,['activity','activities']]

df[['injury','fatality']]

# CRIANDO NOVA COLUNA PARA INJURY (usando principal palavra chave)

In [67]:
main_injury = ['survived','foot','no injury','leg','hand','thigh','calf','arm','ankle','heel','knee','finger','forearm','torso','swim','shourder','elbow','buttock','hip','head','chest','abdomen','shin','toe','wrist','face','neck','back','ribs','groin','feet','bicep','jaw','tooth']

In [68]:
'|'.join(main_injury)

'survived|foot|no injury|leg|hand|thigh|calf|arm|ankle|heel|knee|finger|forearm|torso|swim|shourder|elbow|buttock|hip|head|chest|abdomen|shin|toe|wrist|face|neck|back|ribs|groin|feet|bicep|jaw|tooth'

In [69]:
def search_dano(row,injuries):
    listadano = '|'.join(injuries)
    
    try:
        return re.findall(listadano, row,flags=re.IGNORECASE)[0].lower()
    except:
        return 'minor injury'

In [70]:
df['injuries']=df['injury'].apply(search_dano,injuries=main_injury)

# CRIANDO NOVA COLUNA PARA ANO (YEAR) A PARTIR DA COLUNA DATA

In [80]:
def search_year(row):
    try:
        return re.findall('18\d{2}|19\d{2}|20\d{2}', row)[0]
    except:
        return 'Unknown'

In [81]:
df['year1'] = df['date'].apply(search_year)

In [88]:
df.loc[mask,'year'] = df.loc[mask,'year1']

In [90]:
df['year'].unique()

array([2018.0, 2017.0, 'Unknown', 2016.0, 2015.0, 2014.0, 2013.0, 2012.0,
       2011.0, 2010.0, 2009.0, 2008.0, 2007.0, 2006.0, 2005.0, 2004.0,
       2003.0, 2002.0, 2001.0, 2000.0, 1999.0, 1998.0, 1997.0, 1996.0,
       1995.0, 1984.0, 1994.0, 1993.0, 1992.0, 1991.0, 1990.0, 1989.0,
       1969.0, 1988.0, 1987.0, 1986.0, 1985.0, 1983.0, 1982.0, 1981.0,
       1980.0, 1979.0, 1978.0, 1977.0, 1976.0, 1975.0, 1974.0, 1973.0,
       1972.0, 1971.0, 1970.0, 1968.0, 1967.0, 1966.0, 1965.0, 1964.0,
       1963.0, 1962.0, 1961.0, 1960.0, 1959.0, 1958.0, 1957.0, 1956.0,
       1955.0, 1954.0, 1953.0, 1952.0, 1951.0, 1950.0, 1949.0, 1948.0,
       1848.0, 1947.0, 1946.0, 1945.0, 1944.0, 1943.0, 1942.0, 1941.0,
       1940.0, 1939.0, 1938.0, 1937.0, 1936.0, 1935.0, 1934.0, 1933.0,
       1932.0, 1931.0, 1930.0, 1929.0, 1928.0, 1927.0, 1926.0, 1925.0,
       1924.0, 1923.0, 1922.0, 1921.0, 1920.0, 1919.0, 1918.0, 1917.0,
       1916.0, 1915.0, 1914.0, 1913.0, 1912.0, 1911.0, 1910.0, 1909.0,
       1908.0, 1907.0, 1906.0, 1905.0, 1904.0, 1903.0, 1902.0, 1901.0,
       1900.0, 1899.0, 1898.0, 1897.0, 1896.0, 1895.0, 1894.0, 1893.0,
       1892.0, 1891.0, 1890.0, 1889.0, 1888.0, 1887.0, 1886.0, 1885.0,
       1884.0, 1883.0, 1882.0, 1881.0, 1880.0, 1879.0, 1878.0, 1877.0,
       1876.0, 1875.0, 1874.0, 1873.0, 1872.0, 1871.0, 1870.0, 1869.0,
       1868.0, 1867.0, 1866.0, 1865.0, 1864.0, 1863.0, 1862.0, 1861.0,
       1860.0, 1859.0, 1858.0, 1857.0, 1856.0, 1855.0, 1853.0, 1852.0,
       1851.0, 1850.0, 1849.0, 1847.0, 1846.0, 1845.0, 1844.0, 1842.0,
       1841.0, 1840.0, 1839.0, 1837.0, 1836.0, 1835.0, 1834.0, 1832.0,
       1831.0, 1830.0, 1829.0, 1828.0, 1827.0, 1826.0, 1825.0, 1823.0,
       1822.0, 1819.0, 1818.0, 1817.0, 1816.0, 1815.0, 1812.0, 1811.0,
       1810.0, 1808.0, 1807.0, 1805.0, 1804.0, 1803.0, 1802.0, 1801.0,
       1800.0, 1797.0, 1792.0, 1791.0, 1788.0, 1787.0, 1786.0, 1785.0,
       1784.0, 1783.0, 1780.0, 1779.0, 1776.0, 1771.0, 1767.0, 1764.0,
       1758.0, 1753.0, 1751.0, 1749.0, 1755.0, 1748.0, 1742.0, 1738.0,
       1733.0, 1723.0, 1721.0, 1703.0, 1700.0, 1642.0, 1638.0, 1637.0,
       1617.0, 1595.0, 1580.0, 1555.0, 1554.0, 1543.0, 500.0, 77.0, 5.0,
       '1939', '1990', '2016', '2009', '1934', '1930', '1880', '1909',
       '2012', '1916', '1951', '1908', '1900', '1876', '2011', '1994',
       '1963', '1896', '1936', '1912', '1911', '1901', '1960', '2006',
       '2003', '2004', '1962', '1950', '1998', '1996', '1995', '1989',
       '1987', '1975', '1969', '1967', '1965', '1902', '1926', '1961',
       '1959', '1958', '1957', '1956', '1952', '1941', '1943', '1940',
       '1905', '1938', '1927', '1918', '1920', '1921', '1917', '1913',
       '1862', '1906', '1903', '1883', '1845'], dtype=object)

In [92]:
def inteiro(row):
    try:
        return int(row)
    
    except:
        return row

In [96]:
df['year'] = df['year'].apply(inteiro)

# DATAFRAME FINAL APÓS DADOS TRATADOS

In [97]:
df_final = df[['year','type','country','area','name','gender','age','time','species','activities','injuries','fatality']]

In [98]:
df_final

,year,type,country,area,name,gender,age,time,species,activities,injuries,fatality
0,2018,Boating,USA,California,Julie Wolfe,F,57,18h00,White shark,paddling,no injury,NO
1,2018,Unprovoked,USA,Georgia,Adyson McNeely,F,11,14h00 -15h00,Unknown,standing,thigh,NO
2,2018,Unknown,USA,Hawaii,John Denges,M,48,07h45,Unknown,surf,leg,NO
3,2018,Unprovoked,AUSTRALIA,New South Wales,male,M,Unknown,Unknown,2 m shark,surf,leg,NO
4,2018,Provoked,MEXICO,Colima,Gustavo Ramos,M,Unknown,Unknown,"Tiger shark, 3m",diving,leg,NO
...,...,...,...,...,...,...,...,...,...,...,...,...
6297,1903,Unprovoked,AUSTRALIA,Western Australia,male,M,Unknown,Unknown,Unknown,diving,minor injury,YES
6298,1903,Unprovoked,AUSTRALIA,Western Australia,Ahmun,M,Unknown,Unknown,Unknown,diving,minor injury,YES
6299,1900,Unprovoked,USA,North Carolina,Coast Guard personnel,M,Unknown,Unknown,Unknown,swimming,minor injury,YES
6300,1883,Unprovoked,PANAMA,Unknown,Jules Patterson,M,Unknown,Unknown,Unknown,others,minor injury,YES
6301,1845,Unprovoked,CEYLON (SRI LANKA),Eastern Province,male,M,15,Unknown,Unknown,swimming,minor injury,YES

In [99]:
df.to_csv("SharkAttackTableau.csv")