# SHARK ATTACK CLEANING DATE

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df=pd.read_csv("data/attacks.csv", sep=',',encoding='ISO-8859-1')

In [113]:
pd.set_option('display.max_rows', 10)
# Dica do GUI --- como mostrar numero máximo de linhas do dataframe

In [4]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(25723, 24)

In [6]:
df.dtypes

Case Number        object
Date               object
Year              float64
Type               object
Country            object
                   ...
Case Number.1      object
Case Number.2      object
original order    float64
Unnamed: 22        object
Unnamed: 23        object
Length: 24, dtype: object

In [7]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

# DROP - Excluindo colunas irrelevantes ou redundantes

In [8]:
#testando valores nulos
df['Unnamed: 22'].isnull().value_counts()

True     25722
False        1
Name: Unnamed: 22, dtype: int64

In [9]:
df.isnull().sum()

Case Number       17021
Date              19421
Year              19423
Type              19425
Country           19471
                  ...
Case Number.1     19421
Case Number.2     19421
original order    19414
Unnamed: 22       25722
Unnamed: 23       25721
Length: 24, dtype: int64

In [10]:
#droppando colunas desnecessárias
df.drop(['Investigator or Source', 'pdf', 'href formula', 'href','Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22','Unnamed: 23', 'Case Number'],axis=1,inplace=True)

In [11]:
# GUI
#dfnovo = df[['year','date' ... ]]

In [12]:
# GUI
#df[['Year','Date']]

# Novo DataFrame - removido as colunas:

    'Investigator or Source', 'pdf', 'href formula', 'href','Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22','Unnamed: 23', 'Case Number'

In [13]:
df.head(3)

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN

In [14]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species '],
      dtype='object')

In [15]:
#padronizando nomes das colunas em letras minúsculas e sem espaços
colnames = []
for col in df.columns:
    colnames.append(col.lower())

In [16]:
df.columns = [col.lower().replace(' ','') for col in df.columns]

In [17]:
#alterando de SEX para GENDER
df.rename(columns = {'sex':'gender','fatal(y/n)':'fatality'}, inplace = True)
#df.rename(columns = {'fatal(y/n)':'fatality'}, inplace = True)

# Removendo as linhas em que todas as colunas são nulas --- NaN

In [18]:
#removendo as linhas em que todas as colunas são nulas --- NaN
df.dropna(how='all', inplace=True)

In [19]:
df.shape

(6302, 14)

In [20]:
faltantes = (df.isnull().sum() / (len(df['date'])))*100
print(faltantes)

date         0.000000
year         0.031736
type         0.063472
country      0.793399
area         7.219930
              ...
age         44.922247
injury       0.444303
fatality     8.552840
time        53.221200
species     45.033323
Length: 14, dtype: float64

# Verificando valores de cada coluna

In [21]:
#100% dos casos possuem datas
df['date'].isnull().value_counts()

False    6302
Name: date, dtype: int64

In [22]:
#não há informação de ano para 2 casos
df['year'].isnull().value_counts()

False    6300
True        2
Name: year, dtype: int64

In [23]:
#não há informação de tipo para 4 casos
df['type'].isnull().value_counts()

False    6298
True        4
Name: type, dtype: int64

In [24]:
#não há informação de país para 50 casos
df['country'].isnull().value_counts()

False    6252
True       50
Name: country, dtype: int64

In [25]:
#não há informação de area para 455 casos
df['area'].isnull().value_counts()

False    5847
True      455
Name: area, dtype: int64

In [26]:
#não há informação de localização para 540 casos
df['location'].isnull().value_counts()

False    5762
True      540
Name: location, dtype: int64

In [27]:
#não há informação de atividade para 544 casos
df['activity'].isnull().value_counts()

False    5758
True      544
Name: activity, dtype: int64

In [28]:
#não há informação de nome pessoa para 210 casos
df['name'].isnull().value_counts()

False    6092
True      210
Name: name, dtype: int64

In [29]:
#não há informação de gênero para 565 casos
df['gender'].isnull().value_counts()

False    5737
True      565
Name: gender, dtype: int64

In [30]:
#não há informação de idade para 2831 casos
df['age'].isnull().value_counts()

False    3471
True     2831
Name: age, dtype: int64

In [31]:
#não há informação de dano para 28 casos
df['injury'].isnull().value_counts()

False    6274
True       28
Name: injury, dtype: int64

In [32]:
#não há informação sobre fatalidade para 539 casos
df['fatality'].isnull().value_counts()

False    5763
True      539
Name: fatality, dtype: int64

In [33]:
#não há informação de hora para 2948 casos
df['time'].isnull().value_counts()

True     3354
False    2948
Name: time, dtype: int64

In [34]:
#não há informação de espécie do tubarão para 2838 casos
df['species'].isnull().value_counts()

False    3464
True     2838
Name: species, dtype: int64

In [35]:
df['date'].value_counts()

1957           11
1942            9
1956            8
1958            7
1941            7
               ..
23-Nov-1999     1
15-Dec-1892     1
30-Oct-2009     1
01-Aug-1961     1
31-May-1944     1
Name: date, Length: 5433, dtype: int64

In [36]:
df['year'].value_counts()

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
         ...
1801.0      1
1638.0      1
1834.0      1
1723.0      1
1786.0      1
Name: year, Length: 249, dtype: int64

In [37]:
df['type'].value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: type, dtype: int64

In [38]:
df['country'].value_counts()

USA                     2229
AUSTRALIA               1338
SOUTH AFRICA             579
PAPUA NEW GUINEA         134
NEW ZEALAND              128
                        ...
BANGLADESH                 1
ANDAMAN ISLANDS            1
NETHERLANDS ANTILLES       1
ALGERIA                    1
COOK ISLANDS               1
Name: country, Length: 212, dtype: int64

In [39]:
df['area'].value_counts()

Florida              1037
New South Wales       486
Queensland            311
Hawaii                298
California            290
                     ...
Southern District       1
Bay of Maputu           1
Socotra Islands         1
Ancona Province         1
Masbate                 1
Name: area, Length: 825, dtype: int64

In [40]:
df['location'].value_counts()

New Smyrna Beach, Volusia County        163
Daytona Beach, Volusia County            30
Ponce Inlet, Volusia County              20
Melbourne Beach, Brevard County          18
Myrtle Beach, Horry County               17
                                       ...
Xefina Island, Bay of Maputo              1
Qolera River                              1
Atol das Rochas                           1
Near Croker Island                        1
Basalt Island, 9km from Silverstrand      1
Name: location, Length: 4108, dtype: int64

In [41]:
df['activity'].value_counts()

Surfing                                                                               971
Swimming                                                                              869
Fishing                                                                               431
Spearfishing                                                                          333
Bathing                                                                               162
                                                                                     ...
Wreck of the Sovereign                                                                  1
Commercial Salvage Diving                                                               1
Lashing logs together when he fell into the water                                       1
The 3540-ton Alfonso Penna was torpedoed & sunk by the Italian submarine Barbarigo      1
Unknown, but it was said to be the "First known attack in Sydney Harbour"               1
Name: activity, Length: 1532, dtype: int64

In [42]:
df['gender'].value_counts()

M      5094
F       637
N         2
M         2
.         1
lli       1
Name: gender, dtype: int64

In [43]:
df['age'].value_counts()

17                         154
18                         150
19                         142
20                         141
15                         139
                          ...
37, 67, 35, 27,  ? & 27      1
25 or 28                     1
7      &    31               1
67                           1
X                            1
Name: age, Length: 157, dtype: int64

In [44]:
df['injury'].value_counts()

FATAL                                                                             802
Survived                                                                           97
Foot bitten                                                                        87
No injury                                                                          82
Leg bitten                                                                         72
                                                                                 ...
2 people out of +70 survived, one of whom was bitten by sharks                      1
Both hands bitten while helping companion land speared shark PROVOKED INCIDENT      1
Multiple injuries, left leg surgically amputated at knee                            1
4" cut on left foot                                                                 1
Right elbow bitten                                                                  1
Name: injury, Length: 3737, dtype: int64

In [45]:
df['fatality'].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
y             1
N             1
Name: fatality, dtype: int64

In [46]:
df['time'].value_counts()

Afternoon      187
11h00          128
Morning        121
12h00          109
15h00          108
              ...
After dusk       1
>08h00           1
19h00-20h00      1
15h00j           1
08h55            1
Name: time, Length: 366, dtype: int64

In [47]:
df['species'].value_counts()

White shark                                                                                                                                      163
Shark involvement prior to death was not confirmed                                                                                               105
Invalid                                                                                                                                          102
Shark involvement not confirmed                                                                                                                   88
Tiger shark                                                                                                                                       73
                                                                                                                                                ...
Raggedtooth shark, 2 m [6'9"]                                                                                                                      1
"Blue nose shark"                                                                                                                                  1
Grey reef shark, 1.8 m [6'] grey reef shark, identified by Dr. L.P. L. Schultz based on photographs; identified as C. melanopterus by Stewart      1
White shark, 3m                                                                                                                                    1
Tiger shark, 2.5 m [8.25']                                                                                                                         1
Name: species, Length: 1549, dtype: int64

# Atribuindo valores para nulos em cada coluna

In [48]:
#teste 1: todas as colunas possuem valores nulos
df.isnull().any()

date        False
year         True
type         True
country      True
area         True
            ...
age          True
injury       True
fatality     True
time         True
species      True
Length: 14, dtype: bool

In [49]:
#teste 1: todas as colunas possuem valores em branco
df.notnull().all()

date         True
year        False
type        False
country     False
area        False
            ...
age         False
injury      False
fatality    False
time        False
species     False
Length: 14, dtype: bool

In [50]:
#Atribuindo string 'UNKNOWN' para todas as células sem valores
df['date'].fillna('Unknown', inplace = True)
df['year'].fillna('Unknown', inplace = True)
df['type'].fillna('Unknown', inplace = True)
df['country'].fillna('Unknown', inplace = True)
df['area'].fillna('Unknown', inplace = True)
df['location'].fillna('Unknown', inplace = True)
df['activity'].fillna('Unknown', inplace = True)
df['name'].fillna('Unknown', inplace = True)
df['gender'].fillna('Unknown', inplace = True)
df['age'].fillna('Unknown', inplace = True)
df['injury'].fillna('Unknown', inplace = True)
df['fatality'].fillna('Unknown', inplace = True)
df['time'].fillna('Unknown', inplace = True)
df['species'].fillna('Unknown', inplace = True)

# Tratando dados individualmente em cada coluna

   ## COLUNA GENDER

In [51]:
df.gender.unique()

array(['F', 'M', 'Unknown', 'M ', 'lli', 'N', '.'], dtype=object)

In [52]:
df['gender'].replace(['lli','N', '.'], 'Unknown', inplace = True)
df['gender'].replace(['M '], 'M', inplace = True)

In [53]:
df.gender.unique()

array(['F', 'M', 'Unknown'], dtype=object)

## COLUNA FATALITY

In [54]:
df.fatality.unique()

array(['N', 'Y', 'Unknown', 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [55]:
df['fatality'].replace(['M',' N', 'N ','N'], 'NO', inplace = True)
df['fatality'].replace(['2017','UNKNOWN'], 'Unknown', inplace = True)
df['fatality'].replace(['y', 'Y'], 'YES', inplace = True)

In [56]:
df.fatality.unique()

array(['NO', 'YES', 'Unknown'], dtype=object)

## COLUNA TYPE

In [57]:
df['type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'Unknown', 'Boat', 'Boatomg'], dtype=object)

In [58]:
df['type'].replace(['Boat','Boatomg'], 'Boating', inplace = True)
df['type'].replace(['Invalid','Questionable'], 'Unknown', inplace = True)

In [59]:
df['type'].unique()

array(['Boating', 'Unprovoked', 'Unknown', 'Provoked', 'Sea Disaster'],
      dtype=object)

# REMOVENDO LINHAS DUPLICADAS

In [60]:
df.loc[df.duplicated(keep=False), :]

,date,year,type,country,area,location,activity,name,gender,age,injury,fatality,time,species
4687,Fall 1943,1943,Unprovoked,USA,Hawaii,"Midway Island, Northwestern Hawaiian Islands",Spearfishing,2 males,M,Unknown,Calf nipped in each case,NO,Unknown,"""small sharks"""
4688,Fall 1943,1943,Unprovoked,USA,Hawaii,"Midway Island, Northwestern Hawaiian Islands",Spearfishing,2 males,M,Unknown,Calf nipped in each case,NO,Unknown,"""small sharks"""
5708,1890,1890,Unprovoked,INDIA,Tamil Nadu,Tuticorin,Diving,a pearl diver,M,Unknown,No details,Unknown,Unknown,Unknown
5709,1890,1890,Unprovoked,INDIA,Tamil Nadu,Tuticorin,Diving,a pearl diver,M,Unknown,No details,Unknown,Unknown,Unknown

In [61]:
# removidas apenas estas duas linhas, antes de executar o DROP em 'name'
df.drop([4688, 5709],inplace=True)

In [62]:
df.shape

(6300, 14)


# CRIANDO NOVA COLUNA PARA ATIVIDADE (usando principal palavra chave)

## Dicas do GUI

usar REGEX 

lista_atividades = list(df['activity'].unique())

df['activity'].value_counts().head(10)

def diminuirletra(row):
    try:
        return row.lower()
    except:
        return row
        
df['activities'] = df['activity'].apply(diminuirletra)

In [63]:
main_activity = ['sailing','crabbing','boating','splashing','spearing fish','playing','jumping','touching a shark','tagging sharks','teasing a shark','shark watching','cleaning fish','measuring sharks','sea disaster','feeding sharks','paddling','swimming','fishing','bathing','wading','diving','standing','snorkeling','boarding','kayaking','overboard','treading water','windsurfing','walking','floating','canoeing','surf','rowing']

In [64]:
'|'.join(main_activity)

'sailing|crabbing|boating|splashing|spearing fish|playing|jumping|touching a shark|tagging sharks|teasing a shark|shark watching|cleaning fish|measuring sharks|sea disaster|feeding sharks|paddling|swimming|fishing|bathing|wading|diving|standing|snorkeling|boarding|kayaking|overboard|treading water|windsurfing|walking|floating|canoeing|surf|rowing'

In [92]:
def search_activity(row,atividades):
    listactivity = '|'.join(atividades)
    
    try:
        return re.findall(listactivity, row,flags=re.IGNORECASE)[0-1].lower()
    except:
        return 'others'

In [66]:
df['activities'] = df['activity'].apply(search_activity,atividades=main_activity)

## Dicas do GUI --- para visualizar o df com filtro de um valor e mostrando duas colunas

mask=df['activities']=='others'

df.loc[mask,['activity','activities']]

df[['injury','fatality']]

# CRIANDO NOVA COLUNA PARA INJURY (usando principal palavra chave)

In [77]:
main_injury = ['survived','foot','no injury','leg','hand','thigh','calf','arm','ankle','heel','knee','finger','forearm','torso','swim','shourder','elbow','buttock','hip','head','chest','abdomen','shin','toe','wrist','face','neck','back','ribs','groin','feet','bicep','jaw','tooth']

In [78]:
'|'.join(main_injury)

'survived|foot|no injury|leg|hand|thigh|calf|arm|ankle|heel|knee|finger|forearm|torso|swim|shourder|elbow|buttock|hip|head|chest|abdomen|shin|toe|wrist|face|neck|back|ribs|groin|feet|bicep|jaw|tooth'

In [109]:
def search_dano(row,injuries):
    listadano = '|'.join(injuries)
    
    try:
        return re.findall(listadano, row,flags=re.IGNORECASE)[0].lower()
    except:
        return 'minor injury'

In [111]:
df['injuries']=df['injury'].apply(search_dano,injuries=main_injury)

# CRIANDO NOVA COLUNA PARA ANO (YEAR) A PARTIR DA COLUNA DATA

In [169]:
dateyear = list(df['date'])
dateyear

['25-Jun-2018',
 '18-Jun-2018',
 '09-Jun-2018',
 '08-Jun-2018',
 '04-Jun-2018',
 '03-Jun-2018',
 '03-Jun-2018',
 '27-May-2018',
 '26-May-2018',
 '26-May-2018',
 '24-May-2018',
 '21-May-2018',
 '13-May-2018',
 '13-May-2018',
 'May 2018',
 '12-May-2018',
 '09-May-2018',
 'Reported 30-Apr-2018',
 '28-Apr-2018',
 '28-Apr-2018',
 '25-Apr-2018',
 '25-Apr-2018',
 '24-Apr-2018',
 '23-Apr-2018',
 '22-Apr-2018',
 '19-Apr-2018',
 '15-Apr-2018',
 '15-Apr-2018',
 '15-Apr-2018',
 '15-Apr-2018',
 '14-Apr-2018',
 'Reported 10-Apr-2018',
 '09-Apr-2018',
 '05-Apr-2018',
 '03-Apr-2018',
 '31-Mar-2018',
 '14-Mar-2018',
 '9-Mar-2018',
 '9-Mar-2018',
 '24-Feb-2018',
 '23-Feb-2018',
 '18-Feb-2018',
 '15-Feb-2018',
 '14-Feb-2018',
 '11-Feb-2018',
 '03-Feb-2018',
 '01-Feb-2018',
 '28-Jan-2018',
 '21-Jan-2018',
 '14-Jan-2018',
 '13-Jan-2018',
 '12-Jan-2018',
 '05-Jan-2018',
 '31-Dec-2017',
 '30-Dec-2017',
 '21-Dec-2017',
 '09-Dec-2017',
 '30-Nov-2017',
 '30-Nov-2017',
 'Reported 25-Nov-2017',
 '24-Nov-2017',
 '18-Nov-2017',
 'Reported 13-Nov-2017',
 '13-Nov-2017',
 '04-Nov-2017',
 'Reported 31-Oct-2017',
 '28-Oct-2017',
 '26-Oct-2017',
 '23-Oct-2017',
 '23-Oct-2017',
 '23-Oct-2017',
 '22-Oct-2017',
 '21-Oct-2017',
 '18-Oct-2017',
 '09-Oct-2017',
 '05-Oct-2017',
 '01-Oct-2017',
 '25-Sep-2017',
 '25-Sep-2017',
 '24-Sep-2017',
 '24-Sep-2017',
 '20-Sep-2017',
 '16-Sep-2017',
 '16-Sep-2017',
 '15-Sep-2017',
 '15-Sep-2017',
 'Sep-2017',
 '13-Sep-2017',
 '10-Sep-2017',
 '10-Sep-2017',
 'Reported 06-Sep-2017',
 '03-Sep-2017',
 '03-Sep-2017',
 '02-Sep-2017',
 '02-Sep-2017',
 '02-Sep-2017',
 '29-Aug-2017',
 '27-Aug-2017',
 '26-Aug-2017',
 '26-Aug-2017',
 '23-Aug-2017',
 '18-Aug-2017',
 '10-Aug-2017',
 '05-Aug-2017',
 '03-Aug-2017',
 '01-Aug-2017',
 '31-Jul-2017',
 '29-Jul-2017',
 '29-Jul-2017',
 '27-Jul-2017',
 'Reported 26-Jul-2017',
 '24-Jul-2017',
 '23-Jul-2017',
 '23-Jul-2017',
 '22-Jul-2017',
 '20-Jul-2017',
 '20-Jul-2017',
 '20-Jul-2017',
 '14-Jul-2017',
 '14-Jul-2017',
 '11-Jul-2017',
 '09-Jul-2017',
 'Reported 07-Jul-2017',
 '07-Jul-2017',
 '02-Jul-2017',
 '29-Jun-2017',
 '21-Jun-2017',
 '19-Jun-2017',
 '18-Jun-2017',
 '18-Jun-2017',
 '17-Jun-2017',
 '2017.06.05',
 'Reported 14-Jun-2017',
 '11-Jun-2017',
 '10-Jun-2017',
 '10-Jun-2017',
 'Reported 07-Jun-2017',
 '04-Jun-2017',
 '02-Jun-2017',
 '30-May-2017',
 '28-May-2017',
 '27-May-2017',
 '12-May-2017',
 'Reported 06-May-2017',
 '05-May-2017',
 '03-May-2017',
 '29-Apr-2017',
 '29-Apr-2017',
 '29-Apr-2017',
 '29-Apr-2017',
 '27-Apr-2017',
 '26-Apr-2017',
 '22-Apr-2017',
 '20-Apr-2017',
 '17-Apr-2017',
 '17-Apr-2017',
 '14-Apr-2017',
 '13-Apr-2017',
 '12-Apr-2017',
 '12-Apr-2017',
 '11-Apr-2017',
 '10-Apr-2017',
 '10-Apr-2017',
 '06-Apr-2017',
 '05-Apr-2017',
 '02-Apr-2017',
 '02-Apr-2017',
 '27-Mar-2017',
 '19-Mar-2017',
 '18-Mar-2017',
 '11-Mar-2017',
 'Reported 09-Mar-2017',
 '25-Feb-2017',
 '24-Feb-2017',
 '21-Feb-2017',
 '17-Feb-2017',
 '11-Feb-2017',
 '06-Feb-2017',
 '06-Feb-2017',
 '01-Feb-2017',
 '01-Feb-2017',
 '24-Jan-2017',
 '22-Jan-2017',
 '21-Jan-2017',
 '13-Jan-2017',
 '13-Jan-2017',
 '09-Jan-2017',
 'Reported 08-Jan-2017',
 '05-Jan-2017',
 '03-Jan-2017',
 '27-Dec-2016',
 '24-Dec-2016',
 '19-Dec-2016',
 '14-Dec-2016',
 '11-Dec-2016',
 '11-Dec-2016',
 '06-Dec-2016',
 '01-Dec-2016',
 '28-Nov-2016',
 '14-Nov-2016',
 '30-Oct-2016',
 '29-Oct-2016',
 '24-Oct-2016',
 '21-Oct-2016',
 '15-Oct-2016',
 '14-Oct-2016',
 '13-Oct-2016',
 '12-Oct-2016',
 '10-Oct-2016',
 '02-Oct-2016',
 '01-Oct-2016',
 '26-Sep-2016',
 '18-Sep-2016',
 '18-Sep-2016',
 '18-Sep-2016',
 '17-Sep-2016',
 '17-Sep-2016',
 '16-Sep-2016',
 '15-Sep-2016',
 '11-Sep-2016',
 '07-Sep-2016',
 '06-Sep-2016',
 '05-Sep-2016',
 '05-Sep-2016',
 '04-Sep-2016',
 '01-Sep-2016',
 'Sep-2016',
 '29-Aug-2016',
 '29-Aug-2016',
 '27-Aug-2016',
 '25-Aug-2016',
 '07-Aug-2016',
 '06-Aug-2016',
 '04-Aug-2016',
 '29-Jul-2016',
 '28-Jul-2016',
 '28-Jul-2016',
 '27-Jul-2016',
 '26-Jul-2016',
 '24-Jul-2016',
 '23-Jul-2016',
 '23-Jul-2016',
 '20-Jul-2016',
 '17-Jul-2016',
 '16-Jul-2016',
 '16-Jul-2016',
 '15-Jul-2016',
 '15-Jul-2016',
 'Reported  14-Jul-2016',
 'Reported 08-Jul-2016',
 '08-Jul-2016',
 '07-Jul-2016',
 '07-Jul-2016',
 '06-Jul-2016',
 '04-Jul-2016',
 '27-Jun-2016',
 '25-Jun-2016',
 '24-Jun-2016',
 '23-Jun-2016',
 '21-Jun-2016',
 '21-Jun-2016',
 '15-Jun-2016',
 '15-Jun-2016',
 '14-Jun-2016',
 '11-Jun-2016',
 '07-Jun-2016',
 '05-Jun-2016',
 '05-Jun-2016',
 '04-Jun-2016',
 '02-Jun-2016',
 '02-Jun-2016',
 '31-May-2016',
 '29-May-2016',
 '29-May-2016',
 '22-May-2016',
 '21-May-2016',
 '21-May-2016',
 '18-May-2016',
 '15-May-2016',
 '03-May-2016',
 '02-May-2016',
 '25-Apr-2016',
 '23-Apr-2016',
 '22-Apr-2016',
 '19-Apr-2016',
 '18-Apr-2016',
 '18-Apr-2016',
 '13-Apr-2016',
 '09-Apr-2016',
 '08-Apr-2016',
 '07-Apr-2016',
 '07-Apr-2016',
 '31-Mar-2016',
 '30-Mar-2016',
 '28-Mar-2016',
 '28-Mar-2016',
 '26-Mar-2016',
 '13-Mar-2016',
 '11-Mar-2016',
 '10-Mar-2016',
 '04-Mar-2016',
 'Reported 03-Mar-2016',
 '02-Mar-2016',
 '22-Feb-2016',
 ' 19-Feb-2016',
 '12-Feb-2016',
 'Reported 10-Feb-2016',
 '10-Feb-2016',
 '05-Feb-2016',
 '04-Feb-2016',
 '02-Feb-2016',
 '29-Jan-2016',
 '28-Jan-2016',
 '25-Jan-2016',
 '24-Jan-2016',
 '24-Jan-2016',
 '23-Jan-2016',
 'Reported 11-Jan-2016',
 '05-Jan-2016',
 '02-Jan-2016',
 '26-Dec-2015',
 '25-Dec-2015',
 '22-Dec-2015',
 '21-Dec-2015',
 '21-Dec-2015',
 '19-Dec-2015',
 '13-Dec-2015',
 '11-Dec-2015',
 '08-Dec-2015',
 '20-Nov-2015',
 '16-Nov-2015',
 '15-Nov-2015',
 '15-Nov-2015',
 '10-Nov-2015',
 '07-Nov-2015',
 '03-Nov-2015',
 '01-Nov-2015',
 '01-Nov-2015',
 '30-Oct-2015',
 '28-Oct-2015',
 '25-Oct-2015',
 '21-Oct-2015',
 '19-Oct-2015',
 '17-Oct-2015',
 '17-Oct-2015',
 '17-Oct-2015',
 '13-Oct-2015',
 '09-Oct-2015',
 '09-Oct-2015',
 '08-Oct-2015',
 '07-Oct-2015',
 '05-Oct-2015',
 '05-Oct-2015',
 '04-Oct-2015',
 '29-Sep-2015',
 '26-Sep-2015',
 '24-Sep-2015',
 '20-Sep-2015',
 '20-Sep-2015',
 '20-Sep-2015',
 '20-Sep-2015',
 '19-Sep-2015',
 '18-Sep-2015',
 '17-Sep-2015',
 '08-Sep-2015',
 '06-Sep-2015',
 '05-Sep-2015',
 '04-Sep-2015',
 '03-Sep-2015',
 '01-Sep-2015',
 'Sep-2015',
 '29-Aug-2015',
 '29-Aug-2015',
 '22-Aug-2015',
 '22-Aug-2015',
 '20-Aug-2015',
 '19-Aug-2015',
 '18-Aug-2015',
 '18-Aug-2015',
 '10-Aug-2015',
 '31-Jul-2015',
 '28-Jul-2015',
 '27-Jul-2015',
 '26-Jul-2015',
 '26-Jul-2015',
 '25-Jul-2015',
 '23-Jul-2015',
 '23-Jul-2015',
 '22-Jul-2015',
 '19-Jul-2015',
 '10-Jul-2015',
 '08-Jul-2015',
 '06-Jul-2015',
 '04-Jul-2015',
 '04-Jul-2015',
 '03-Jul-2015',
 '02-Jul-2015',
 '01-Jul-2015',
 '30-Jun-2015',
 '30-Jun-2015',
 '27-Jun-2015',
 '27-Jun-2015',
 '26-Jun-2015',
 '26-Jun-2015',
 '26-Jun-2015',
 'Reported 25-Jun-2015',
 '25-Jun-2015',
 '24-Jun-2015',
 '24-Jun-2015',
 '23-Jun-2015',
 '19-Jun-2015',
 '17-Jun-2015',
 '14-Jun-2015',
 '14-Jun-2015',
 '13-Jun-2015',
 '11-Jun-2015',
 '07-Jun-2015',
 '05-Jun-2015',
 '01-Jun-2015',
 '29-May-2015',
 '29-May-2015',
 '25-May-2015',
 '24-May-2015',
 '20-May2015',
 '15-May-2015',
 '09-May-2015',
 '07-May-2015',
 '03-May-2015',
 '02-May-2015',
 '29-Apr-2015',
 '26-Apr-2015',
 '25-Apr-2015',
 '24-Jun-2015',
 '13-Apr-2015',
 '12-Apr-2015',
 '11-Apr-2015',
 '03-Apr-2015',
 '29-Mar-2015',
 '31-Mar-2015',
 '26-Mar-2015',
 '21-Mar-2015',
 '18-Mar-2015',
 '16-Mar-2015',
 '11-Mar-2015',
 '10-Mar-2015',
 '07-Mar-2015',
 '15-Feb-2015',
 '14-Feb-2015',
 '09-Feb-2015',
 '08-Feb-2015',
 '05-Feb-2015',
 '30-Jan-2015',
 '27-Jan-2015',
 '24-Jan-2015',
 '23-Jan-2015',
 '19-Jan-2015',
 '19-Jan-2015',
 '17-Jan-2015',
 '16-Jan-2015',
 '08-Jan-2015',
 '06-Jan-2015',
 '03-Jan-2015',
 '01-Jan-2015',
 '29-Dec-2014',
 '29-Dec-2014',
 '28-Dec-2014',
 '28-Dec-2014',
 '28-Dec-2014',
 '28-Dec-2014',
 'Reported 23-Dec-2014',
 '15-Dec-2014',
 'Reported 03-Dec-2014',
 '29-Nov-2014',
 '20-Nov-2014',
 '19-Nov-2014',
 'Reported 17-Nov-2014',
 '16-Nov-2014',
 '13-Nov-2014',
 '10-Nov-2014',
 '08-Nov-2014',
 '31-Oct-2014',
 '29-Oct-2014',
 '22-Oct-2014',
 '20-Oct-2014',
 '19-Oct-2014',
 '18-Oct-2014',
 '17-Oct-2014',
 '14-Oct-2014',
 '12-Oct-2014',
 '11-Oct-2014',
 '05-Oct-2014',
 '07-Oct-2014',
 '05-Oct-2014',
 '03-Oct-2014',
 '03-Oct-2014',
 '02-Oct-2014',
 '02-Oct-2014',
 '21-Sep-2014',
 'Reported 12-Sep-2014',
 '13-Sep-2014',
 '09-Sep-2014',
 '06-Sep-2014',
 '03-Sep-2014',
 '02-Sep-2014',
 'Sep-2014',
 '31-Aug-2014',
 '29-Aug-2014',
 '29-Aug-2014',
 '28-Aug-2014',
 '27-Aug-2014',
 '27-Aug-2014',
 '27-Aug-2014',
 'Reported 25-Aug-2014',
 '24-Aug-2014',
 '16-Aug-2014',
 '12-Aug-2014',
 '10-Aug-2014',
 '09-Aug-2014',
 '09-Aug-2014',
 '08-Aug-2014',
 '06-Aug-2014',
 '05-Aug-2014',
 '02-Aug-2014',
 '02-Aug-2014',
 '01-Aug-2014',
 'Aug-2014',
 '27-Jul-2014',
 '22-Jul-2014',
 '21-Jul-2014',
 '20-Jul-2014',
 '16-Jul-2014',
 '14-Jul-2014',
 '13-Jul-2014',
 '12-Jul-2014',
 '9-Jul-2014',
 '5-Jul-2014',
 '5-Jul-2014',
 '3-Jul-2014',
 'Reported 27-Jun-2014',
 '25-Jun-2014',
 '18-Jun-2014',
 '18-Jun-2014',
 'Reported 17-Jun-2014',
 '09-Jun-2014',
 '09-Jun-2014',
 '09-Jun-2014',
 '08-Jun-2014',
 '07-Jun-2014',
 '01-Jun-2014',
 '01-Jun-2014',
 '01-Jun-2014',
 '24-May-2014',
 '23-May-2014',
 '22-May-2014',
 '15-May-2014',
 '14-May-2014',
 '13-May2014',
 '11-May-2014',
 'Reported 10-May-2014',
 '06-May-2014',
 '04-May-2014',
 '01-May-2014',
 '24-Apr-2014',
 '22-Apr-2014',
 '15-Apr-2014',
 'Reported 12-Apr-2014',
 '12-Apr-2014',
 '04-Apr-2014',
 '04-Apr-2014',
 '03-Apr-2014',
 '29-Mar-2014',
 '22-Mar-2014',
 '22-Mar-2014',
 '21-Mar-2014',
 '18-Mar-2014',
 '18-Mar-2014',
 '18-Mar-2014',
 '12-Mar-2014',
 '13-Mar-2014',
 '02-Mar-2014',
 '20-Feb-2014',
 'Reported 17-Feb-2014',
 '08-Feb-2014',
 '07-Feb-2014',
 '07-Feb-2014',
 '26-Jan-2014',
 '25-Jan-2014',
 '04-Jan-2014',
 '2014',
 '2014',
 '25-Dec-2013',
 '16-Dec-2013',
 '13-Dec-2013',
 '11-Dec-2013',
 '10-Dec-2013',
 '05-Dec-2013',
 '02-Dec-2013',
 '30-Nov-2013',
 '29-Nov2013',
 '23-Nov-2013',
 '22-Nov-2013',
 '12-Nov-2013',
 '10-Nov-2013',
 '07-Nov-2013',
 '07-Nov-2013',
 '31-Oct-2013',
 '28-Oct-2013',
 '26-Oct-2013',
 '26-Oct-2013',
 '24-Oct-2013',
 '23-Oct-2013',
 '20-Oct-2013',
 '19-Oct-2013',
 '11-Oct-2013',
 '08-Oct-2013',
 '06-Oct-2013',
 '10-Oct-2013',
 '29-Sep-2013',
 '29-Sep-2013',
 ' 25-Sep-2013',
 ' 21-Sep-2013',
 ' 21-Sep-2013',
 ' 14-Sep-2013',
 ' 12-Sep-2013',
 '08-Sep-2013',
 ' 07-Sep-2013',
 ' 07-Sep-2013',
 ' 02-Sep-2013',
 ' 01-Sep-2013',
 ' 01-Sep-2013',
 ' 01-Sep-2013',
 '31-Aug-2013',
 '31-Aug-2013',
 '29-Aug-2013',
 '26-Aug-2013',
 ' 25-Aug-2013',
 ' 25-Aug-2013',
 ' 18-Aug-2013',
 '17-Aug-2013',
 ' 14-Aug-2013',
 ' 13-Aug-2013',
 '11-Aug-2013',
 'Reported 08-Aug-2013',
 ' 05-Aug-2013',
 '  31-Jul-2013',
 '  30-Jul-2013',
 '28-Jul-2013',
 '  29-Jul-2013',
 '  29-Jul-2013',
 '28-Jul-2013',
 '28-Jul-2013',
 '    22-Jul-2013',
 '19-Jul-2013',
 'Reported 17-Jul-2013',
 '15-Jul-2013',
 '14-Jul-2013',
 '11-Jul-2013',
 '07-Jul-2013',
 '02-Jul-2013',
 '30-Jun-2013',
 '27-Jun-2013',
 '25-Jun-2013',
 '25-Jun-2013',
 '25-Jun-2013',
 '18-Jun-2013',
 '17-Jun-2013',
 '16-Jun-2013',
 '15-Jun-2013',
 'Reported 14-Jun-2013',
 '06-Jun-2013',
 '06-Jun-2013',
 '27-May-2013',
 '27-May-2013',
 '23-May-2013',
 '23-May-2013',
 '14-May-2014',
 '08-May-2013',
 '08-May-2013',
 '04-May-2013',
 '28-Apr-2013',
 '24-Apr-2013',
 '21-Apr-2013',
 '17-Apr-2013',
 '14-Apr-2013',
 '13-Apr-2013',
 '13-Apr-2013',
 '10-Apr-2013',
 '04-Apr-2013',
 'Reported 02-Apr-2013',
 '02-Apr-2013',
 '31-Mar-2013',
 '29-Mar-2013',
 'Reported 21-Mar-2013',
 '21-Mar-2013',
 '16-Mar-2013',
 '16-Mar-2013',
 '12-Mar-2013',
 '10-Mar-2013',
 '10-Mar-2013',
 '03-Mar-2013',
 '27-Feb-2013',
 '21-Feb-2013',
 '21-Feb-2013',
 '10-Feb-2013',
 '09-Feb-2013',
 '01-Feb-2013',
 '26-Jan-2013',
 '25-Jan-2013',
 'Reported 21-Jan-2013',
 '16-Jan-2013',
 '13-Jan-2013',
 '05-Jan-2013',
 '31-Dec-2012',
 '30-Dec-2012',
 '28-Dec-2012',
 '25-Dec-2012',
 '19-Dec-2012',
 '05-Dec-2012',
 '02-Dec-2012',
 'December 2012',
 '30-Nov-2012',
 '27-Nov-2012',
 '22-Nov-2012',
 '19-Nov-2012',
 '04-Nov-2012',
 '04-Nov-2012',
 '30-Oct-2012',
 '27-Oct-2012',
 '23-Oct-2012',
 '19-Oct-2012',
 '18-Oct-2012',
 '18-Oct-2012',
 '16-Oct-2012',
 'Reported 11-Oct-2012',
 '10-Oct-2012',
 '02-Oct-2012',
 '25-Sep-2012',
 '24-Sep-2012',
 '16-Sep-2012',
 '10-Sep-2012',
 '09-Sep-2012',
 '08-Sep-2012',
 '08-Sep-2012',
 '06-Sep-2012',
 '06-Sep-2012',
 '04-Sep-2012',
 '02-Sep-2012',
 '02-Sep-2012',
 '02-Sep-2012',
 '31-Aug-2012',
 '28-Aug-2012',
 '26-Aug-2012',
 '15-Aug-2012',
 '11-Aug-2012',
 '08-Aug-2012',
 '06-Aug-2012',
 '04-Aug-2012',
 '31-Jul-2012',
 '31-Jul-2012',
 '30-Jul-2012',
 '30-Jul-2012',
 '24-Jul-2012',
 '23-Jul-2012',
 '21-Jul-2012',
 '19-Jul-2012',
 '14-Jul-2012',
 '08-Jul-2012',
 '07-July-2012',
 '07-Jul-2012',
 '07-Jul-2012',
 '06-Jul-2012',
 'Reported 28-Jun-2012',
 '26-Jun-2012',
 '26-Jun-2012',
 '26-Jun-2012',
 '22-Jun-2012',
 '22-Jun-2012',
 '20-Jun-2012',
 '19-Jun-2012',
 '18-Jun-2012',
 '15-Jun-2012',
 '14-Jun-2012',
 '14-Jun-2012',
 '14-Jun-2012',
 '14-Jun-2012',
 '12-Jun-2012',
 '10-Jun-2012',
 '03-Jun-2012',
 '02-Jun-2012',
 '02-Jun-2012',
 '31-May-2012',
 '29-May-2012',
 '23-May-2012',
 '20-May-2012',
 '16-May-2012',
 '12-May-2012',
 '09-May-2012',
 '06-May-2012',
 '19-Apr-2012',
 '19-Apr-2012',
 '11-Apr-2012',
 '03-Apr-2012',
 'Apr-2013',
 '31-Mar-2012',
 '24-Mar-2012',
 '22-Mar-2012',
 '20-Mar-2012',
 '15-Mar-2012',
 '14-Mar-2012',
 '14-Mar-2012',
 '06-Mar-2012',
 '06-Mar-2012',
 '05-Mar-2012',
 '04-Mar-2012',
 '03-Mar-2012',
 '01-Mar-2012',
 '26-Feb-2012',
 '25-Feb-2012',
 '20-Feb-2012',
 '06-Feb-2012',
 '27-Jan-2012',
 '19-Jan-2012',
 'Reported 22-Jan-2012',
 '18-Jan-2012',
 '18-Jan-2012',
 '15-Jan-2012',
 '13-Jan-2012',
 '03-Jan-2012',
 '02-Jan-2012',
 '31-Dec-2011',
 'Reported 26-Dec-2011',
 '25-Dec-2011',
 '23-Dec-2011',
 '21-Dec-2011',
 '21-Dec-2011',
 '11-Dec-2011',
 '07-Dec-2011',
 '07-Dec-2011',
 '06-Dec-2011',
 '05-Dec-2011',
 '02-Dec-2011',
 '29-Nov-2011',
 '28-Nov-2011',
 '22-Nov-2011',
 'Reported 20-Nov-2011',
 '12-Nov-2011',
 '11-Nov-2011',
 '  29-Oct-2011',
 'Reported 28-Oct-2011',
 '  29-Oct-2011',
 '22-Oct-2011',
 '20-Oct-2011',
 '19-Oct-2011',
 '11-Oct-2011',
 '10-Oct-2011',
 '09-Oct-2011',
 '05-Oct-2011',
 '02-Oct-2011',
 '01-Oct-2011',
 '30-Sep-2011',
 '28-Sep-2011',
 '28-Sep-2011',
 '24-Sep-2011',
 '24-Sep-2011',
 '20-Sep-2011',
 '19-Sep-2011',
 '17-Sep-2011',
 '16-Sep-2011',
 '11-Sep-2011',
 '11-Sep-2011',
 '04-Sep-2011',
 '04-Sep-2011',
 '02-Sep-2011',
 '31-Aug-2011',
 '28-Aug-2011',
 '28-Aug-2011',
 '26-Aug-2011',
 '24-Aug-2011 ',
 '24-Aug-2011 ',
 '23-Aug-2011',
 '18-Aug-2011',
 '17-Aug-2011',
 '17-Aug-2011',
 '17-Aug-2011',
 '16-Aug-2011',
 '16-Aug--2011',
 '16-Aug-2011',
 '15-Aug-2011',
 '11-Aug--2011',
 '01-Aug-2011',
 '31-Jul-2011',
 '30-Jul-2011',
 '25-Jul-2011',
 '22-Jul-2011',
 '19-Jul-2011',
 '15-Jul-2011',
 '13-Jul-2011',
 '13-Jul-2011',
 '07-Jul-2011',
 '07-Jul-2011',
 '06-Jul-2011',
 '05-Jul-2011',
 '30-Jun-2011',
 '29-Jun-2011',
 '28-Jun-2011',
 '26-Jun-2008',
 '24-Jun-2011',
 '21-Jun-2011',
 '19-Jun-2011',
 '19-Jun-2011',
 '15-Jun-2011',
 'Reported 14-Jun-2011',
 '12-Jun-2011',
 'Reported 06-Jun-2011',
 '06-Jun-2011',
 '06-Jun-2011',
 '01-Jun-2011',
 '30-May-2011',
 '29-May-2011',
 '25-May-2011',
 '22-May-2011',
 '21-May-2011',
 '13-May-2011',
 '21-May-2011',
 '13-May-2011',
 '10-May-2011',
 'Reported 07-May-2011',
 '04-May-2011',
 '26-Apr-2011',
 '23-Apr-2011',
 '22-Apr-2011',
 '16-Apr-2011',
 '13-Apr-2011',
 '08-Apr-2011',
 'Reported 29-Mar-2011',
 '24-Mar-2011',
 '23-Mar-2011',
 '21-Mar-2011',
 '21-Mar-2011',
 '16-Mar-2011',
 'Reported 10-Mar-2010',
 '10-Mar-2011',
 'Reported 28-Feb-2011',
 '23-Feb-2011',
 '18-Feb-2011',
 '17-Feb-2011',
 '13-Feb-2011',
 '12-Feb-2011',
 'Reported 04-Feb-2011',
 '02-Feb-2011',
 '31-Jan-2011',
 '28-Jan-2011',
 '26-Jan-2011',
 '20-Jan-2011',
 '15-Jan-2011',
 'Reported 12-Jan 2011',
 '03-Jan-2011',
 '26-Dec-2010',
 '17-Dec-2010',
 '11-Dec-2010',
 '05-Dec-2010',
 'Reported 03-Dec-2010',
 '01-Dec-2010',
 '01-Dec-2010',
 '30-Nov-2010',
 '30-Nov-2010',
 'Reported 27-Nov-2010',
 '27-Nov-2010',
 '19-Nov-2010',
 '15-Nov-2010',
 '14-Nov-2010',
 'Reported 12-Nov-2010',
 '30-Oct-2010',
 'Reported 28-Oct-2010',
 '28-Oct-2010',
 '25-Oct-2010',
 '23-Oct-2010',
 '23-Oct-2010',
 '22-Oct-2010',
 '20-Oct-2010',
 '09-Oct-2010',
 '02-Oct-2010',
 '02-Oct-2010',
 '01-Oct-2010',
 '27-Sep-2010',
 '24-Sep-2010',
 '21-Sep-2010',
 ' 13-Sep-2010',
 '07-Sep-2010',
 'Reported 06-Sep-2010',
 ' 04-Sep-2010',
 '03-Sep-2010',
 '03-Sep-2010',
 '02-Sep-2010',
 '29-Aug-2010',
 '18-Aug-2010',
 '17-Aug-2010',
 '14-Aug-2010',
 '10-Aug-2010',
 '10-Aug-2010',
 ...]

In [ ]:
for x in dateyear

# DATAFRAME FINAL APÓS DADOS TRATADOS

In [115]:
df_final = df[['year','type','country','area','name','gender','age','time','species','activities','injuries','fatality']]

In [116]:
df_final

,year,type,country,area,name,gender,age,time,species,activities,injuries,fatality
0,2018,Boating,USA,California,Julie Wolfe,F,57,18h00,White shark,paddling,no injury,NO
1,2018,Unprovoked,USA,Georgia,Adyson McNeely,F,11,14h00 -15h00,Unknown,standing,thigh,NO
2,2018,Unknown,USA,Hawaii,John Denges,M,48,07h45,Unknown,surf,leg,NO
3,2018,Unprovoked,AUSTRALIA,New South Wales,male,M,Unknown,Unknown,2 m shark,surf,leg,NO
4,2018,Provoked,MEXICO,Colima,Gustavo Ramos,M,Unknown,Unknown,"Tiger shark, 3m",diving,leg,NO
...,...,...,...,...,...,...,...,...,...,...,...,...
6297,0,Unprovoked,AUSTRALIA,Western Australia,male,M,Unknown,Unknown,Unknown,diving,minor injury,YES
6298,0,Unprovoked,AUSTRALIA,Western Australia,Ahmun,M,Unknown,Unknown,Unknown,diving,minor injury,YES
6299,0,Unprovoked,USA,North Carolina,Coast Guard personnel,M,Unknown,Unknown,Unknown,swimming,minor injury,YES
6300,0,Unprovoked,PANAMA,Unknown,Jules Patterson,M,Unknown,Unknown,Unknown,others,minor injury,YES
6301,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,male,M,15,Unknown,Unknown,swimming,minor injury,YES

In [69]:
# Para salvar o arquivo csv ---> df.to_csv("nomedoarquivo.csv")