# SHARK ATTACK CLEANING DATE

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("data/attacks.csv", sep=',',encoding='ISO-8859-1')

In [3]:
df.head(80)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,2017.10.05,05-Oct-2017,2017.0,Unprovoked,USA,Hawaii,"Kamaole Beach Park, Maui",Snorkeling,female,F,...,8' shark,"Maui Now, 10/5/2017",2017.10.05-Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.10.05,2017.10.05,6228.0,NaN,NaN
76,2017.10.01,01-Oct-2017,2017.0,Invalid,SOUTH AFRICA,Western Cape Province,Dyer Island,Scuba Diving,Bradley Fick,M,...,Death may have been due to drowning,"All Africa, 10/11/2017",2017.10.01-Fick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.10.01,2017.10.01,6227.0,NaN,NaN
77,2017.09.25.b,25-Sep-2017,2017.0,Unprovoked,USA,Florida,"Hanna Park, Jacksonville, Duval County",Surfing,Justin White,M,...,5' shark,"News4Jax, 9/26/2017",2017.09.25.b-White.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.25.b,2017.09.25.b,6226.0,NaN,NaN
78,2017.09.25.a,25-Sep-2017,2017.0,Unprovoked,AUSTRALIA,Western Australia,Gracetown,Surfing,Catherine Vissers,M,...,"White shark, 3.5 m","Stab Magazine, 9/26/2017",2017.09.25.a-Vissers.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.25.a,2017.09.25.a,6225.0,NaN,NaN
79,2017.09.24.b,24-Sep-2017,2017.0,Invalid,USA,New York,Rockaway,Surfing,Michah Behrend,M,...,Questionable,"S. Curatolo-Wageman, GSAF",2017.09.24.b-Behrend.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.09.24.b,2017.09.24.b,6224.0,NaN,NaN

In [4]:
df.shape

(25723, 24)

In [5]:
df.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [6]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

# DROP - Excluindo colunas irrelevantes ou redundantes

In [7]:
#testando valores nulos
df['Unnamed: 22'].isnull().value_counts()

True     25722
False        1
Name: Unnamed: 22, dtype: int64

In [8]:
df.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [9]:
#droppando colunas desnecessárias
df.drop(['Investigator or Source', 'pdf', 'href formula', 'href','Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22','Unnamed: 23', 'Case Number'],axis=1,inplace=True)

# Novo DataFrame - removido as colunas:

    'Investigator or Source', 'pdf', 'href formula', 'href','Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22','Unnamed: 23', 'Case Number'

In [10]:
df.head(3)

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN

In [11]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species '],
      dtype='object')

In [12]:
#padronizando nomes das colunas em letras minúsculas e sem espaços
colnames = []
for col in df.columns:
    colnames.append(col.lower())

In [13]:
df.columns = [col.lower().replace(' ','') for col in df.columns]

In [14]:
#alterando de SEX para GENDER
df.rename(columns = {'sex':'gender'}, inplace = True)
df.rename(columns = {'fatal(y/n)':'fatality'}, inplace = True)

# Removendo as linhas em que todas as colunas são nulas --- NaN

In [15]:
#removendo as linhas em que todas as colunas são nulas --- NaN
df.dropna(how='all', inplace=True)

In [16]:
faltantes = (df.isnull().sum() / (len(df['date'])))*100
print(faltantes)

date         0.000000
year         0.031736
type         0.063472
country      0.793399
area         7.219930
location     8.568708
activity     8.632180
name         3.332275
gender       8.965408
age         44.922247
injury       0.444303
fatality     8.552840
time        53.221200
species     45.033323
dtype: float64

# Verificando valores de cada coluna

In [17]:
#100% dos casos possuem datas
df['date'].isnull().value_counts()

False    6302
Name: date, dtype: int64

In [18]:
#não há informação de ano para 2 casos
df['year'].isnull().value_counts()

False    6300
True        2
Name: year, dtype: int64

In [19]:
#não há informação de tipo para 4 casos
df['type'].isnull().value_counts()

False    6298
True        4
Name: type, dtype: int64

In [20]:
#não há informação de país para 50 casos
df['country'].isnull().value_counts()

False    6252
True       50
Name: country, dtype: int64

In [21]:
#não há informação de area para 455 casos
df['area'].isnull().value_counts()

False    5847
True      455
Name: area, dtype: int64

In [22]:
#não há informação de localização para 540 casos
df['location'].isnull().value_counts()

False    5762
True      540
Name: location, dtype: int64

In [23]:
#não há informação de atividade para 544 casos
df['activity'].isnull().value_counts()

False    5758
True      544
Name: activity, dtype: int64

In [24]:
#não há informação de nome pessoa para 210 casos
df['name'].isnull().value_counts()

False    6092
True      210
Name: name, dtype: int64

In [25]:
#não há informação de gênero para 565 casos
df['gender'].isnull().value_counts()

False    5737
True      565
Name: gender, dtype: int64

In [26]:
#não há informação de idade para 2831 casos
df['age'].isnull().value_counts()

False    3471
True     2831
Name: age, dtype: int64

In [27]:
#não há informação de dano para 28 casos
df['injury'].isnull().value_counts()

False    6274
True       28
Name: injury, dtype: int64

In [28]:
#não há informação sobre fatalidade para 539 casos
df['fatality'].isnull().value_counts()

False    5763
True      539
Name: fatality, dtype: int64

In [29]:
#não há informação de hora para 2948 casos
df['time'].isnull().value_counts()

True     3354
False    2948
Name: time, dtype: int64

In [30]:
#não há informação de espécie do tubarão para 2838 casos
df['species'].isnull().value_counts()

False    3464
True     2838
Name: species, dtype: int64

In [31]:
df['date'].value_counts()

1957           11
1942            9
1956            8
1950            7
1941            7
               ..
13-Aug-2006     1
16-Dec-2013     1
11-Mar-2016     1
18-Oct-1924     1
15-Jul-2011     1
Name: date, Length: 5433, dtype: int64

In [32]:
df['year'].value_counts()

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
         ...
1801.0      1
1638.0      1
1834.0      1
1723.0      1
1786.0      1
Name: year, Length: 249, dtype: int64

In [33]:
df['type'].value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: type, dtype: int64

In [34]:
df['country'].value_counts()

USA                           2229
AUSTRALIA                     1338
SOUTH AFRICA                   579
PAPUA NEW GUINEA               134
NEW ZEALAND                    128
                              ...
GRAND CAYMAN                     1
ANDAMAN / NICOBAR ISLANDAS       1
IRAN / IRAQ                      1
ANDAMAN ISLANDS                  1
KUWAIT                           1
Name: country, Length: 212, dtype: int64

In [35]:
df['area'].value_counts()

Florida                        1037
New South Wales                 486
Queensland                      311
Hawaii                          298
California                      290
                               ...
Sharon                            1
Anjouan                           1
Ralik Chain                       1
300 miles east of Mauritius       1
Kagoshima Prefecture              1
Name: area, Length: 825, dtype: int64

In [36]:
df['location'].value_counts()

New Smyrna Beach, Volusia County                                                     163
Daytona Beach, Volusia County                                                         30
Ponce Inlet, Volusia County                                                           20
Melbourne Beach, Brevard County                                                       18
Myrtle Beach, Horry County                                                            17
                                                                                    ...
Revillagigedo Islands                                                                  1
Monastery Beach, Carmel River State Park, Monterey Peninsula, Monterey California      1
Port Bolivar, Galveston County                                                         1
Ewa, O'ahu                                                                             1
LaJolla Shores, San Diego County                                                       1
Name: location, Length: 4108, dtype: int64

In [37]:
df['activity'].value_counts()

Surfing                                                         971
Swimming                                                        869
Fishing                                                         431
Spearfishing                                                    333
Bathing                                                         162
                                                               ...
Swimming in strong current with 3 others when he disappeared      1
Removing shark from a trap                                        1
Fishing boat swamped in a storm                                   1
Fishing for octopus                                               1
Diving (Helmet) for sponges                                       1
Name: activity, Length: 1532, dtype: int64

In [38]:
df['gender'].value_counts()

M      5094
F       637
M         2
N         2
.         1
lli       1
Name: gender, dtype: int64

In [39]:
df['age'].value_counts()

17           154
18           150
19           142
20           141
15           139
            ...
74             1
18 months      1
F              1
13 or 18       1
23 & 26        1
Name: age, Length: 157, dtype: int64

In [40]:
df['injury'].value_counts()

FATAL                                                                                         802
Survived                                                                                       97
Foot bitten                                                                                    87
No injury                                                                                      82
Leg bitten                                                                                     72
                                                                                             ...
Severe bite to right hand                                                                       1
2 cm laceration on knee PROVOKED INCIDENT                                                       1
FATAL, "Nearly bitten in two through loin".                                                     1
No injury, shark bit bodyboard                                                                  1
FATAL, lost consciousness at depth of 180'. Large sharks seen near partial remains of body      1
Name: injury, Length: 3737, dtype: int64

In [41]:
df['fatality'].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
y             1
2017          1
M             1
N             1
Name: fatality, dtype: int64

In [42]:
df['time'].value_counts()

Afternoon        187
11h00            128
Morning          121
12h00            109
15h00            108
                ...
12h45 / 13h45      1
17h42              1
13h10              1
15h06              1
10h27              1
Name: time, Length: 366, dtype: int64

In [43]:
df['species'].value_counts()

White shark                                                   163
Shark involvement prior to death was not confirmed            105
Invalid                                                       102
Shark involvement not confirmed                                88
Tiger shark                                                    73
                                                             ...
2' to 3.5' shark                                                1
Bronze whaler shark,3.7 m [12']                                 1
2.1 m [7'] lemon shark or bull shark                            1
Mako shark, 1.8 m [6']                                          1
Two sharks seen in vicinity: 2.4 m & 4.25 m  [8' & 14'] TL      1
Name: species, Length: 1549, dtype: int64

# Atribuindo valores para nulos em cada coluna

In [44]:
#teste 1: todas as colunas possuem valores nulos
df.isnull().any()

date        False
year         True
type         True
country      True
area         True
location     True
activity     True
name         True
gender       True
age          True
injury       True
fatality     True
time         True
species      True
dtype: bool

In [45]:
#teste 1: todas as colunas possuem valores em branco
df.notnull().all()

date         True
year        False
type        False
country     False
area        False
location    False
activity    False
name        False
gender      False
age         False
injury      False
fatality    False
time        False
species     False
dtype: bool

In [46]:
#Atribuindo string 'UNKNOWN' para todas as células sem valores
df['date'].fillna('Unknown', inplace = True)
df['year'].fillna('Unknown', inplace = True)
df['type'].fillna('Unknown', inplace = True)
df['country'].fillna('Unknown', inplace = True)
df['area'].fillna('Unknown', inplace = True)
df['location'].fillna('Unknown', inplace = True)
df['activity'].fillna('Unknown', inplace = True)
df['name'].fillna('Unknown', inplace = True)
df['gender'].fillna('Unknown', inplace = True)
df['age'].fillna('Unknown', inplace = True)
df['injury'].fillna('Unknown', inplace = True)
df['fatality'].fillna('Unknown', inplace = True)
df['time'].fillna('Unknown', inplace = True)
df['species'].fillna('Unknown', inplace = True)

In [47]:
df

,date,year,type,country,area,location,activity,name,gender,age,injury,fatality,time,species
0,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,Unknown
2,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,Unknown
3,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,Unknown,Minor injury to lower leg,N,Unknown,2 m shark
4,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,Unknown,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Unknown,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,Unknown,FATAL,Y,Unknown,Unknown
6298,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Unknown,Pearl diving,Ahmun,M,Unknown,FATAL,Y,Unknown,Unknown
6299,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,Unknown,FATAL,Y,Unknown,Unknown
6300,1883-1889,0,Unprovoked,PANAMA,Unknown,"Panama Bay 8ºN, 79ºW",Unknown,Jules Patterson,M,Unknown,FATAL,Y,Unknown,Unknown
6301,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,Unknown,Unknown

In [48]:
#teste 2: agora todas as colunas possuem valores e podemos encontrá-los

# Tratando dados individualmente em cada coluna

   ## COLUNA GENDER

In [49]:
df.gender.unique()

array(['F', 'M', 'Unknown', 'M ', 'lli', 'N', '.'], dtype=object)

In [50]:
df['gender'].replace(['lli','N', '.'], 'Unknown', inplace = True)
df['gender'].replace(['M '], 'M', inplace = True)

In [51]:
df.gender.unique()

array(['F', 'M', 'Unknown'], dtype=object)

## COLUNA FATALITY

In [52]:
df.fatality.unique()

array(['N', 'Y', 'Unknown', 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [55]:
df['fatality'].replace(['M',' N', 'N ','N'], 'NO', inplace = True)
df['fatality'].replace(['2017','UNKNOWN'], 'Unknown', inplace = True)
df['fatality'].replace(['y', 'Y'], 'YES', inplace = True)

In [57]:
df.fatality.unique()

array(['NO', 'YES', 'Unknown'], dtype=object)

## COLUNA TYPE

In [58]:
df['type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'Unknown', 'Boat', 'Boatomg'], dtype=object)

In [59]:
df['type'].replace(['Boat','Boatomg'], 'Boating', inplace = True)
df['type'].replace(['Invalid','Questionable'], 'Unknown', inplace = True)

In [60]:
df['type'].unique()

array(['Boating', 'Unprovoked', 'Unknown', 'Provoked', 'Sea Disaster'],
      dtype=object)

# REMOVENDO LINHAS DUPLICADAS

In [64]:
df.loc[df.duplicated(keep=False), :]

Empty DataFrame
Columns: [date, year, type, country, area, location, activity, name, gender, age, injury, fatality, time, species]
Index: []

In [61]:
# removidas apenas estas duas linhas, antes de executar o DROP em 'name'
df.drop([4688, 5709],inplace=True)

In [62]:
df.shape

(6300, 14)

In [69]:
df['fatality'] == 'NO'

0        True
1        True
2        True
3        True
4        True
        ...
6297    False
6298    False
6299    False
6300    False
6301    False
Name: fatality, Length: 6300, dtype: bool

In [65]:
condition1 = (df['year']==0)
condition2 = (df['date'])

In [66]:
df.loc[condition1 & condition2, :]

,date,year,type,country,area,location,activity,name,gender,age,injury,fatality,time,species
6177,Ca. 214 B.C.,0,Unprovoked,Unknown,Ionian Sea,Unknown,Ascending from a dive,"Tharsys, a sponge diver",M,Unknown,"FATAL, shark/s bit him in two",YES,Unknown,Unknown
6178,Ca. 336.B.C..,0,Unprovoked,GREECE,Piraeus,In the haven of Cantharus,Washing his pig in preparation for a religious...,A candidate for initiation,M,Unknown,"FATAL, shark ""bit off all lower parts of him u...",YES,Unknown,Unknown
6179,493 B.C.,0,Sea Disaster,GREECE,Off Thessaly,Unknown,Shipwrecked Persian Fleet,males,M,Unknown,Herodotus tells of sharks attacking men in the...,YES,Unknown,Unknown
6180,Ca. 725 B.C.,0,Sea Disaster,ITALY,Tyrrhenian Sea,Krater found during excavations at Lacco Ameno...,Shipwreck,males,M,Unknown,Depicts shipwrecked sailors attacked by a sha...,YES,Unknown,Unknown
6181,Before 1939,0,Unprovoked,CANADA,Unknown,Grand Banks,Fishing,Joe Folsom,M,Unknown,Arm bitten,NO,Unknown,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,Unknown,FATAL,YES,Unknown,Unknown
6298,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Unknown,Pearl diving,Ahmun,M,Unknown,FATAL,YES,Unknown,Unknown
6299,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,Unknown,FATAL,YES,Unknown,Unknown
6300,1883-1889,0,Unprovoked,PANAMA,Unknown,"Panama Bay 8ºN, 79ºW",Unknown,Jules Patterson,M,Unknown,FATAL,YES,Unknown,Unknown
6301,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",YES,Unknown,Unknown

In [330]:
anos500 = df.loc[df['year'] == 0, :]
anos500

,date,year,type,country,area,location,activity,name,gender,age,injury,fatality,time,species
6177,Ca. 214 B.C.,0,Unprovoked,UNKNOWN,Ionian Sea,UNKNOWN,Ascending from a dive,"Tharsys, a sponge diver",M,UNKNOWN,"FATAL, shark/s bit him in two",YES,UNKNOWN,UNKNOWN
6178,Ca. 336.B.C..,0,Unprovoked,GREECE,Piraeus,In the haven of Cantharus,Washing his pig in preparation for a religious...,A candidate for initiation,M,UNKNOWN,"FATAL, shark ""bit off all lower parts of him u...",YES,UNKNOWN,UNKNOWN
6179,493 B.C.,0,Sea Disaster,GREECE,Off Thessaly,UNKNOWN,Shipwrecked Persian Fleet,males,M,UNKNOWN,Herodotus tells of sharks attacking men in the...,YES,UNKNOWN,UNKNOWN
6180,Ca. 725 B.C.,0,Sea Disaster,ITALY,Tyrrhenian Sea,Krater found during excavations at Lacco Ameno...,Shipwreck,males,M,UNKNOWN,Depicts shipwrecked sailors attacked by a sha...,YES,UNKNOWN,UNKNOWN
6181,Before 1939,0,Unprovoked,CANADA,UNKNOWN,Grand Banks,Fishing,Joe Folsom,M,UNKNOWN,Arm bitten,NO,UNKNOWN,UNKNOWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,UNKNOWN,FATAL,YES,UNKNOWN,UNKNOWN
6298,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,UNKNOWN,Pearl diving,Ahmun,M,UNKNOWN,FATAL,YES,UNKNOWN,UNKNOWN
6299,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,UNKNOWN,FATAL,YES,UNKNOWN,UNKNOWN
6300,1883-1889,0,Unprovoked,PANAMA,UNKNOWN,"Panama Bay 8ºN, 79ºW",UNKNOWN,Jules Patterson,M,UNKNOWN,FATAL,YES,UNKNOWN,UNKNOWN
6301,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",YES,UNKNOWN,UNKNOWN