# SHARK ATTACK CLEANING DATE

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df=pd.read_csv("data/attacks.csv", sep=',',encoding='ISO-8859-1')

In [3]:
pd.set_option('display.max_rows', 10)
# Dica do GUI --- como mostrar numero máximo de linhas do dataframe

In [4]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(25723, 24)

In [6]:
df.dtypes

Case Number        object
Date               object
Year              float64
Type               object
Country            object
                   ...
Case Number.1      object
Case Number.2      object
original order    float64
Unnamed: 22        object
Unnamed: 23        object
Length: 24, dtype: object

In [7]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

# DROP - Excluindo colunas irrelevantes ou redundantes

In [8]:
#testando valores nulos
df['Unnamed: 22'].isnull().value_counts()

True     25722
False        1
Name: Unnamed: 22, dtype: int64

In [9]:
df.isnull().sum()

Case Number       17021
Date              19421
Year              19423
Type              19425
Country           19471
                  ...
Case Number.1     19421
Case Number.2     19421
original order    19414
Unnamed: 22       25722
Unnamed: 23       25721
Length: 24, dtype: int64

In [10]:
#droppando colunas desnecessárias
df.drop(['Investigator or Source', 'pdf', 'href formula', 'href','Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22','Unnamed: 23', 'Case Number'],axis=1,inplace=True)

In [11]:
# GUI
#dfnovo = df[['year','date' ... ]]

In [12]:
# GUI
#df[['Year','Date']]

# Novo DataFrame - removido as colunas:

    'Investigator or Source', 'pdf', 'href formula', 'href','Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22','Unnamed: 23', 'Case Number'

In [13]:
df.head(3)

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN

In [14]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species '],
      dtype='object')

In [15]:
#padronizando nomes das colunas em letras minúsculas e sem espaços
colnames = []
for col in df.columns:
    colnames.append(col.lower())

In [16]:
df.columns = [col.lower().replace(' ','') for col in df.columns]

In [17]:
#alterando de SEX para GENDER
df.rename(columns = {'sex':'gender','fatal(y/n)':'fatality'}, inplace = True)
#df.rename(columns = {'fatal(y/n)':'fatality'}, inplace = True)

# Removendo as linhas em que todas as colunas são nulas --- NaN

In [18]:
#removendo as linhas em que todas as colunas são nulas --- NaN
df.dropna(how='all', inplace=True)

In [19]:
df.shape

(6302, 14)

In [20]:
faltantes = (df.isnull().sum() / (len(df['date'])))*100
print(faltantes)

date         0.000000
year         0.031736
type         0.063472
country      0.793399
area         7.219930
              ...
age         44.922247
injury       0.444303
fatality     8.552840
time        53.221200
species     45.033323
Length: 14, dtype: float64

# Verificando valores de cada coluna

In [21]:
#100% dos casos possuem datas
df['date'].isnull().value_counts()

False    6302
Name: date, dtype: int64

In [22]:
#não há informação de ano para 2 casos
df['year'].isnull().value_counts()

False    6300
True        2
Name: year, dtype: int64

In [23]:
#não há informação de tipo para 4 casos
df['type'].isnull().value_counts()

False    6298
True        4
Name: type, dtype: int64

In [24]:
#não há informação de país para 50 casos
df['country'].isnull().value_counts()

False    6252
True       50
Name: country, dtype: int64

In [25]:
#não há informação de area para 455 casos
df['area'].isnull().value_counts()

False    5847
True      455
Name: area, dtype: int64

In [26]:
#não há informação de localização para 540 casos
df['location'].isnull().value_counts()

False    5762
True      540
Name: location, dtype: int64

In [27]:
#não há informação de atividade para 544 casos
df['activity'].isnull().value_counts()

False    5758
True      544
Name: activity, dtype: int64

In [28]:
#não há informação de nome pessoa para 210 casos
df['name'].isnull().value_counts()

False    6092
True      210
Name: name, dtype: int64

In [29]:
#não há informação de gênero para 565 casos
df['gender'].isnull().value_counts()

False    5737
True      565
Name: gender, dtype: int64

In [30]:
#não há informação de idade para 2831 casos
df['age'].isnull().value_counts()

False    3471
True     2831
Name: age, dtype: int64

In [31]:
#não há informação de dano para 28 casos
df['injury'].isnull().value_counts()

False    6274
True       28
Name: injury, dtype: int64

In [32]:
#não há informação sobre fatalidade para 539 casos
df['fatality'].isnull().value_counts()

False    5763
True      539
Name: fatality, dtype: int64

In [33]:
#não há informação de hora para 2948 casos
df['time'].isnull().value_counts()

True     3354
False    2948
Name: time, dtype: int64

In [34]:
#não há informação de espécie do tubarão para 2838 casos
df['species'].isnull().value_counts()

False    3464
True     2838
Name: species, dtype: int64

In [35]:
df['date'].value_counts()

1957                        11
1942                         9
1956                         8
1950                         7
1958                         7
                            ..
15-May-1980                  1
Reported 21-Jun-1856         1
Winter 1969                  1
Mar-1956                     1
No date, Before May-1996     1
Name: date, Length: 5433, dtype: int64

In [36]:
df['year'].value_counts()

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
         ...
1801.0      1
1638.0      1
1834.0      1
1723.0      1
1786.0      1
Name: year, Length: 249, dtype: int64

In [37]:
df['type'].value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: type, dtype: int64

In [38]:
df['country'].value_counts()

USA                    2229
AUSTRALIA              1338
SOUTH AFRICA            579
PAPUA NEW GUINEA        134
NEW ZEALAND             128
                       ...
PERU                      1
MONACO                    1
CURACAO                   1
BRITISH WEST INDIES       1
THE BALKANS               1
Name: country, Length: 212, dtype: int64

In [39]:
df['area'].value_counts()

Florida             1037
New South Wales      486
Queensland           311
Hawaii               298
California           290
                    ...
Rombion Province       1
Madeira                1
Ibiza Island           1
Sainte-Suzanne         1
Oslo Fjord             1
Name: area, Length: 825, dtype: int64

In [40]:
df['location'].value_counts()

New Smyrna Beach, Volusia County                         163
Daytona Beach, Volusia County                             30
Ponce Inlet, Volusia County                               20
Melbourne Beach, Brevard County                           18
Myrtle Beach, Horry County                                17
                                                        ...
North Forest Beach, near Hilton Head, Beaufort County      1
Junpinpin, off Stradbroke Island                           1
Key Largo                                                  1
Tourmaline Surf Park, San Diego County                     1
Pilot Bay, Mt Maunganui                                    1
Name: location, Length: 4108, dtype: int64

In [41]:
df['activity'].value_counts()

Surfing                                                              971
Swimming                                                             869
Fishing                                                              431
Spearfishing                                                         333
Bathing                                                              162
                                                                    ...
Swimming with fish attached to  belt                                   1
Scuba diving for bivalves                                              1
Sunbathing on beach when he saw child being attacked by the shark      1
Attacked shark with fists                                              1
Wreck of the 1308-ton Norwegian ship Auckland                          1
Name: activity, Length: 1532, dtype: int64

In [42]:
df['gender'].value_counts()

M      5094
F       637
M         2
N         2
lli       1
.         1
Name: gender, dtype: int64

In [43]:
df['age'].value_counts()

17          154
18          150
19          142
20          141
15          139
           ...
33 or 37      1
81            1
50 & 30       1
74            1
A.M.          1
Name: age, Length: 157, dtype: int64

In [44]:
df['injury'].value_counts()

FATAL                                              802
Survived                                            97
Foot bitten                                         87
No injury                                           82
Leg bitten                                          72
                                                  ...
Arm lacerated by netted shark PROVOKED INCIDENT      1
4 deep lacerations to thigh                          1
Minor injury                                         1
Death preceded shark involvement                     1
Lacerations knee to ankle                            1
Name: injury, Length: 3737, dtype: int64

In [45]:
df['fatality'].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
y             1
2017          1
N             1
M             1
Name: fatality, dtype: int64

In [46]:
df['time'].value_counts()

Afternoon        187
11h00            128
Morning          121
12h00            109
15h00            108
                ...
>17h00             1
11h48              1
09h30 / 15h30      1
14h37              1
13h37              1
Name: time, Length: 366, dtype: int64

In [47]:
df['species'].value_counts()

White shark                                           163
Shark involvement prior to death was not confirmed    105
Invalid                                               102
Shark involvement not confirmed                        88
Tiger shark                                            73
                                                     ...
Not a shark attack; it was a hoax                       1
Remains recovered from 5.5 m [18'] white shark          1
"juvenile shark"                                        1
Grey nurse shark, 1.5 m [5']                            1
Wobbegong shark, 2m                                     1
Name: species, Length: 1549, dtype: int64

# Atribuindo valores para nulos em cada coluna

In [48]:
#teste 1: todas as colunas possuem valores nulos
df.isnull().any()

date        False
year         True
type         True
country      True
area         True
            ...
age          True
injury       True
fatality     True
time         True
species      True
Length: 14, dtype: bool

In [49]:
#teste 1: todas as colunas possuem valores em branco
df.notnull().all()

date         True
year        False
type        False
country     False
area        False
            ...
age         False
injury      False
fatality    False
time        False
species     False
Length: 14, dtype: bool

In [50]:
#Atribuindo string 'UNKNOWN' para todas as células sem valores
df['date'].fillna('Unknown', inplace = True)
df['year'].fillna('Unknown', inplace = True)
df['type'].fillna('Unknown', inplace = True)
df['country'].fillna('Unknown', inplace = True)
df['area'].fillna('Unknown', inplace = True)
df['location'].fillna('Unknown', inplace = True)
df['activity'].fillna('Unknown', inplace = True)
df['name'].fillna('Unknown', inplace = True)
df['gender'].fillna('Unknown', inplace = True)
df['age'].fillna('Unknown', inplace = True)
df['injury'].fillna('Unknown', inplace = True)
df['fatality'].fillna('Unknown', inplace = True)
df['time'].fillna('Unknown', inplace = True)
df['species'].fillna('Unknown', inplace = True)

# Tratando dados individualmente em cada coluna

   ## COLUNA GENDER

In [53]:
df.gender.unique()

array(['F', 'M', 'Unknown', 'M ', 'lli', 'N', '.'], dtype=object)

In [54]:
df['gender'].replace(['lli','N', '.'], 'Unknown', inplace = True)
df['gender'].replace(['M '], 'M', inplace = True)

In [55]:
df.gender.unique()

array(['F', 'M', 'Unknown'], dtype=object)

## COLUNA FATALITY

In [56]:
df.fatality.unique()

array(['N', 'Y', 'Unknown', 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [57]:
df['fatality'].replace(['M',' N', 'N ','N'], 'NO', inplace = True)
df['fatality'].replace(['2017','UNKNOWN'], 'Unknown', inplace = True)
df['fatality'].replace(['y', 'Y'], 'YES', inplace = True)

In [58]:
df.fatality.unique()

array(['NO', 'YES', 'Unknown'], dtype=object)

## COLUNA TYPE

In [59]:
df['type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'Unknown', 'Boat', 'Boatomg'], dtype=object)

In [60]:
df['type'].replace(['Boat','Boatomg'], 'Boating', inplace = True)
df['type'].replace(['Invalid','Questionable'], 'Unknown', inplace = True)

In [61]:
df['type'].unique()

array(['Boating', 'Unprovoked', 'Unknown', 'Provoked', 'Sea Disaster'],
      dtype=object)

# REMOVENDO LINHAS DUPLICADAS

In [62]:
df.loc[df.duplicated(keep=False), :]

,date,year,type,country,area,location,activity,name,gender,age,injury,fatality,time,species
4687,Fall 1943,1943,Unprovoked,USA,Hawaii,"Midway Island, Northwestern Hawaiian Islands",Spearfishing,2 males,M,Unknown,Calf nipped in each case,NO,Unknown,"""small sharks"""
4688,Fall 1943,1943,Unprovoked,USA,Hawaii,"Midway Island, Northwestern Hawaiian Islands",Spearfishing,2 males,M,Unknown,Calf nipped in each case,NO,Unknown,"""small sharks"""
5708,1890,1890,Unprovoked,INDIA,Tamil Nadu,Tuticorin,Diving,a pearl diver,M,Unknown,No details,Unknown,Unknown,Unknown
5709,1890,1890,Unprovoked,INDIA,Tamil Nadu,Tuticorin,Diving,a pearl diver,M,Unknown,No details,Unknown,Unknown,Unknown

In [63]:
# removidas apenas estas duas linhas, antes de executar o DROP em 'name'
df.drop([4688, 5709],inplace=True)

In [64]:
df.shape

(6300, 14)


# CRIANDO NOVA COLUNA PARA ATIVIDADE (usando principal palavra chave)

## Dicas do GUI

usar REGEX 

lista_atividades = list(df['activity'].unique())

df['activity'].value_counts().head(10)

def diminuirletra(row):
    try:
        return row.lower()
    except:
        return row
        
df['activities'] = df['activity'].apply(diminuirletra)

In [68]:
main_activity = ['sailing','crabbing','boating','splashing','spearing fish','playing','jumping','touching a shark','tagging sharks','teasing a shark','shark watching','cleaning fish','measuring sharks','sea disaster','feeding sharks','paddling','swimming','fishing','bathing','wading','diving','standing','snorkeling','boarding','kayaking','overboard','treading water','windsurfing','walking','floating','canoeing','surf','rowing']

In [69]:
'|'.join(main_activity)

'sailing|crabbing|boating|splashing|spearing fish|playing|jumping|touching a shark|tagging sharks|teasing a shark|shark watching|cleaning fish|measuring sharks|sea disaster|feeding sharks|paddling|swimming|fishing|bathing|wading|diving|standing|snorkeling|boarding|kayaking|overboard|treading water|windsurfing|walking|floating|canoeing|surf|rowing'

In [70]:
def search_activity(row,atividades):
    listactivity = '|'.join(atividades)
    
    try:
        return re.findall(listactivity, row,flags=re.IGNORECASE)[0].lower()
    except:
        return 'others'

In [71]:
df['activities'] = df['activity'].apply(search_activity,atividades=main_activity)

In [76]:
df

,date,year,type,country,area,location,activity,name,gender,age,injury,fatality,time,species,activities
0,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",NO,18h00,White shark,paddling
1,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,NO,14h00 -15h00,Unknown,standing
2,09-Jun-2018,2018,Unknown,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,NO,07h45,Unknown,surf
3,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,Unknown,Minor injury to lower leg,NO,Unknown,2 m shark,surf
4,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,Unknown,Lacerations to leg & hand shark PROVOKED INCIDENT,NO,Unknown,"Tiger shark, 3m",diving
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,Unknown,FATAL,YES,Unknown,Unknown,diving
6298,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Unknown,Pearl diving,Ahmun,M,Unknown,FATAL,YES,Unknown,Unknown,diving
6299,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,Unknown,FATAL,YES,Unknown,Unknown,swimming
6300,1883-1889,0,Unprovoked,PANAMA,Unknown,"Panama Bay 8ºN, 79ºW",Unknown,Jules Patterson,M,Unknown,FATAL,YES,Unknown,Unknown,others
6301,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",YES,Unknown,Unknown,swimming

## Dicas do GUI --- para visualizar o df com filtro de um valor e mostrando duas colunas

mask=df['activities']=='others'

df.loc[mask,['activity','activities']]

In [75]:
df[['injury','fatality']]

                                                 injury fatality
0     No injury to occupant, outrigger canoe and pad...       NO
1                            Minor injury to left thigh       NO
2          Injury to left lower leg from surfboard skeg       NO
3                             Minor injury to lower leg       NO
4     Lacerations to leg & hand shark PROVOKED INCIDENT       NO
...                                                 ...      ...
6297                                              FATAL      YES
6298                                              FATAL      YES
6299                                              FATAL      YES
6300                                              FATAL      YES
6301  FATAL. "Shark bit him in half, carrying away t...      YES

[6300 rows x 2 columns]

In [ ]:
# Para salvar o arquivo csv ---> df.to_csv("nomedoarquivo.csv")